[2015-12-01 12:36] dstoup opened #21 "Add exception support to VXL"
This would have to be done so that all exception code can be switched off,
since VXL does not require exception support. Converting many of the
calls to vcl_abort, into exceptions would be useful for programmers of
GUIs, giving the program a change to save state and possibly give a
useful bug report before exiting. Lots of VXL is probably not exception
safe, and needs to be fixed.

[2015-12-01 12:36] dstoup opened #22 "Ensure that VXL APIs are reentrant."
VXL is not threadsafe, but should be. Some of this is due to the
limitations of f2c in v3p/netlib. It produces static variables, where
automatic ones would do. This may be fixed with the latest version of
f2c and or lapack3e.

In other places, such as the vil image loader, and the vsl binary
loader, there are singleton classes. This code is inherently
nonthread safe. Such code can be clearly docum

[2015-12-01 12:36] dstoup opened #23 "upgrade netlib to use LAPACK instead of LINPACK"
vnl_algo uses the netlib library to provide good numerical algorithms.
During VNL's design, it was thought that the much newer LAPACK was better
than the LINPACK library. However, it was faster to get something working
with LINPACK, since it had less dependencies than LAPACK. Now, LAPACK's
superiority is undisputed. LAPACK is faster, and more accurate. It is
designed for efficient parallel process

[2015-12-01 12:37] dstoup opened #24 "Borland compiler"
VXL has been ported to the Borland 5.5 compiler, but only for the core
libraries, not the contrib libraries.  Brad King did the port for the
core libraries and may have some advice on getting contrib ported.

[2015-12-01 12:37] dstoup opened #25 "vnl specializations for char"
From Brad King: There no specializations for char types in vnl.

[2015-12-01 12:38] dstoup opened #26 "vnl, mix of static methods and static constants for constants"
From Brad King: In vnl Some of the constants are static methods and
some are static constants.  I do not see any reason for the
inconsistency.

[2015-12-01 12:38] dstoup opened #27 "vnl min/max values for long types are hardcoded to assume 32bits"
From Brad King: In vnl, min/max values for long types are hardcoded to
assume 32bits.  It should be possible to construct almost all the
values with tryrun programs during the configuration process, but
that may be overkill for now.

[2015-12-01 12:38] dstoup opened #28 "vnl, test_math and test_numeric_limits access the NaN values"
From Brad King: In vnl, another problem is that test_math and
test_numeric_limits access the NaN values.  There is nothing wrong
with this, but Borland throws floatingpoint exceptions by default.
I've fixed my local copy to use the _control87 function to disable
exceptions for those tests on that compiler, but I haven't committed
it yet.  Is this something we want to abstract and add to testlib?

[2015-12-01 12:39] dstoup opened #29 "vcl and CMake trycompile"
Bill Hoffman has suggested that a lot of the compiler version based
# ifdefs in vcl could be replaced by the CMake trycompile mechanism.

[2015-12-01 12:39] dstoup opened #30 "vnl_math.cxx and vnl_math_is* functions"
Brad King: There are several ways that compilers provide isnan, isinf,
and isfinite tests.  The C99 standard defines "isnan", "isinf", and
"isfinite" as macros that work with float, double, and long double.

BSD 4.3 (and many conforming platforms) define
  int isinf(double value);
  int isnan(double value);
  int finite(double value);
in math.h.  Many platforms also provide
  int isinff(float valu

[2015-12-01 13:47] hjmjohnson commented on #24
I have a set of patches that *REMOVES* the Borland compiler support.  This will greatly simplify the VXL toolkit and remove a lot of complexity.

Note:  I al so have patches to remove support for SGI, SunPro, VC5,6,7,8.0.

Hans

[2015-12-01 13:50] hjmjohnson opened #32 "Remove Support for Visual Studio that report with "_MSC_VER < 1499""
This will greatly reduce the code base, and much of the complexity and CMake variable spaghetti code that makes it difficult to track down behaviors.

[2015-12-08 19:07] hjmjohnson opened #45 "BRL: warning: using integer absolute value function 'abs' when argument is of floating point"
Is this a bug, or a desired side effect.  If it is a desired side effect, then explicit static_cast should be used with vcl_math::abs().

vxl/contrib/brl/bbas/volm/desc/volm_desc_matcher.cxx:133:21: warning: using integer absolute value function 'abs' when argument is of floating point
      type [-Wabsolute-value]
    double x_dist = abs(gt_loc.x()-gt_closest.x())_sec_to_meter;

[2015-12-08 19:09] hjmjohnson commented on #29
:+1:   That would be VERY nice.  I would suggest that we do some house-cleaning first.  Removing BORLAND, SGI, VC[5678] removes much of the need for any of this infrastructure.

[2015-12-08 19:10] dstoup commented on #29
Agreed!

[2015-12-09 18:26] billhoffman commented on #29
VS 8 might be going to far IMO..

[2015-12-09 18:42] hjmjohnson commented on #29
@billhoffman
Bill,  Thanks for the feedback.  I will keep VS8.
Hans

[2015-12-09 20:27] hjmjohnson commented on #45
commit 250e998b550c6db0c1541031cf8a7603a3063a08
Author: Yi Dong <yidong80@gmail.com>

[2015-12-10 17:09] dstoup opened #52 "Remove the vgl_plane_3d+int- instantiation"
Using the vgl_plane_3d+int- instantiation will probably give unexpected results if actually used. Look for a way to remove it.

[2015-12-10 17:12] dstoup opened #53 "Create vxlPython header to wrap Python.h"
VXL needs to have a wrapper header for Python.h. We need it for 2 reasons that I know of.

1) Building Debug on Windows always wants to have python_d.lib which often doesn't exist.
2) Python.h defines things like toupper which cause issues for Mac.

[2015-12-10 17:14] dstoup commented on #32
As mentioned by Bill Hoffman, VS 8 should remain for now.

[2015-12-10 18:09] hjmjohnson commented on #32
@dstoup Great.  I have a patch set started, but it depends upon the current outstanding pull request.    Once the current pull request https://github.com/vxl/vxl/pull/11 is merged, I can continue to work on this task.

[2015-12-10 18:13] hjmjohnson opened #54 "BRL: Failing Tests due to use of uninitialized variables in boxm2"
This issue should remain open until all the tests are commented back in.

From: Hans Johnson hans-johnson@uiowa.edu
Date: Wednesday, December 9, 2015 at 4:13 PM
To: Octavian Biris octavian.biris@visionsystemsinc.com
Subject: Re: VXL test failures

PRUNING IS GOOD!  Any pruning you can do will greatly improve the software.

I would really like to get to all test passing.  Removing tests that are no

[2015-12-10 18:19] dstoup opened #55 "vnl_complex test fails on gcc 4.9"
The /= operator test is failing on newer gcc. I looked into this failure a little bit and don't quite understand. The test seems correct when I do that calculation by hand.

[2015-12-11 16:34] hjmjohnson commented on #32
@billhoffman

I think that I have my names all confused for windows build environments.  Let me try to figure out what we want to support. I don't know what VS5, VS6, VS7 are any more.  Can we come up with a gameplan based on "_MSC_VER" identifiers so that I do the correct work?

FYI:   It appears that it has been listed as deprecated since 2010 in the code. https://github.com/vxl/vxl/blame/master

[2015-12-11 20:52] billhoffman commented on #32
Sure, that sounds good. MSVC++ 9.0 _MSC_VER == 1500 (Visual Studio 2008) and newer.  So, only a 7 year old compiler 2008=_MSC_VER == 1500.

[2015-12-20 21:17] hjmjohnson commented on #54
These tests continue to fail.  I am going to temporarily comment these test out so that we can proceed with other refactoring prioriteis.

	156 - vgl_test_cartesian (Failed)
	722 - bocl_test_command_queue (SEGFAULT)
	901 - boxm2_test_merge_function (Failed)
	907 - boxm2_ocl_test_kernel_filter (Failed)
	908 - boxm2_ocl_test_kernel_vector_filter (Failed)
	930 - boxm2_test_io (Timeout)

[2015-12-20 21:19] hjmjohnson opened #65 "istream vgl_line_2d and vgl_plane_3d does not work."
diff --git a/core/vgl/tests/test_cartesian.cxx b/core/vgl/tests/test_cartesian.cxx
index 9fc3ebb..9abb602 100644
--- a/core/vgl/tests/test_cartesian.cxx
+++ b/core/vgl/tests/test_cartesian.cxx
@@ -520,6 +520,7 @@ static void test_line_2d()
     is >> line;
     vcl_cout << "formatted line " << line << '\n';;
     TEST("istream vgl_line_2d", line, vgl_line_2d<float>(4.5f,-5,70));
+#if 0  // HACK Th

[2015-12-23 16:45] hjmjohnson commented on #54
@dstoup

BRL is temporarily disabled by default in

Author: Hans Johnson <hans-johnson@uiowa.edu>
Date:   Tue Dec 22 13:28:41 2015 -0600

    COMP: BRL code is unstable on different compilers

The intent is that this will allow other VXL cleanup efforts to proceed more efficiently.    Before closing this issue, we should revert to having BRL built by default again.

Hans

[2015-12-23 18:17] hjmjohnson opened #71 "BRL: Comment out BRL Failing Tests, To be addressed and re-added"
Related to issues here vxl#54

Tests tagged with "HACK_FORCE_BRL_FAILING_TESTS" for easy identification

To get these tests to run use "cmake -DHACK_FORCE_BRL_FAILING_TESTS:BOOL=ON"

These are the tests that fail on my Mac: ==================================
99% tests passed, 6 tests failed out of 980
- bocl_test_command_queue (SEGFAULT) <— identified memory access after free, but don’t know how t

[2015-12-23 19:23] hjmjohnson commented on #71
@decrispell @ozgecanoz

This pull request addresses your desired behavior w.r.t. BRL failing tests.
https://github.com/vxl/vxl/pull/66  (A quick review would be GREATLY appreciated, as this is holding up a few other issues).

https://open.cdash.org/buildSummary.php?buildid=4161696  (1 failing test addressed elsewhere)
https://open.cdash.org/buildSummary.php?buildid=4161699

[2015-12-23 20:35] decrispell commented on #71
@hjmjohnson  done.

[2015-12-23 20:42] hjmjohnson commented on #71
Mac Clang Compiler warnings to be addressed:

[mac_comp_warn.txt](https://github.com/vxl/vxl/files/71219/mac_comp_warn.txt)

[2015-12-23 20:55] hjmjohnson commented on #71
GREAT!

From:  Daniel Crispell <notifications@github.com>
Reply-To:  vxl/vxl <reply@reply.github.com>
Date:  Wednesday, December 23, 2015 at 2:35 PM
To:  vxl/vxl <vxl@noreply.github.com>
Cc:  Hans Johnson <hans.j.johnson@gmail.com>
Subject:  Re: [vxl] Comment out BRL Failing Tests, To be addressed and re-added (#71)

@hjmjohnson  done.

—
Reply to this email directly or view it on GitHub.

[2015-12-25 14:30] hjmjohnson commented on #45
@decrispell Can you please link this to BRL updates to address?   I do not have the ability to assign labels or assignments.

[2015-12-26 13:54] hjmjohnson opened #73 "Remove deprecated vil1 library and replace with vil library"
The vil1 library had indications in the code that it should be removed and replaced with the vil library.

There is a script in "vxl/core/vil/scripts/vil1tovil.pl" to assist with conversions from vil1 to vil.

It appears that these changes have been intended to occur since 2003, but have not been fully completed.

[2016-01-04 14:03] dstoup opened #79 "Fix commented out failing test"
contrib/brl/bseg/bvxm/tests/test_voxel_world_mog_image.cxx

[2016-01-04 14:04] #79 closed

[2016-01-04 14:46] yidongVSI opened #80 "BRL: Failing Tests comment out, due to in-consistent initialized value"
in contrib/brl/bseg/bvxm/tests/test_voxel_world_mog_image.cxx:

Following test is comment out
TEST_NEAR("image diff should sum to 0", sum, 0.0f, 5.0f);

This test failure was due to difference in initial values used in two expected image from bvxm voxel world.  Other than that, the rendered results were exactly same.

[2016-01-08 20:37] hjmjohnson opened #91 "COMP: Warning about array bound overrrun."
In file included from /scratch/johnsonhj/src/vxl/core/vbl/vbl_bounding_box.txx:13:
/scratch/johnsonhj/src/vxl/core/vbl/vbl_bounding_box.h:101:7: warning: array index 2 is past the end of the array (which contains 2 elements) [-Warray-bounds]
      min_[2] <= z && z <= max_[2];
      ^    ~
/scratch/johnsonhj/src/vxl/core/vbl/Templates/vbl_bounding_box+double.2-.cxx:3:1: note: in instantiation of m

[2016-01-08 20:38] hjmjohnson commented on #91
@thewtex Matt,  Would you be able to fix this warning in VXL?

If asserts are disabled (i.e. not in debug mode) this seems like a real error.

[2016-01-08 22:13] hjmjohnson opened #96 "rgrl_estimator test fails periodically."
There is likely an uninitialized variable.

for i in $(seq 1 30); do ctest -R rgrl_estimator; done

The test failed 2 out of 30 times, and passed 28 out of 30 times.

This was on a linux computer.

Hans

[2016-01-09 14:40] thewtex commented on #91
@hjmjohnson What compiler and flags are required to reproduce the warning?

[2016-01-09 15:24] hjmjohnson commented on #91
Just clang (10.10 mac default Xcode 7) with cmake Debug build.  Nothing special.

Hans

From:  Matt McCormick <notifications@github.com>
Reply-To:  vxl/vxl <reply@reply.github.com>
Date:  Saturday, January 9, 2016 at 8:40 AM
To:  vxl/vxl <vxl@noreply.github.com>
Cc:  Hans Johnson <hans.j.johnson@gmail.com>
Subject:  Re: [vxl] COMP:  Warning about array bound overrrun. (#91)

@hjmjohnson What compi

[2016-01-11 15:34] hjmjohnson opened #97 "Consider removing "VXL Nightly Date Stamp""
The nightly "VXL Nightly Date Stamp" commits seem like unnecessary noise in the commit messages.

Is there a rational for having this in a git based source code repository?

[2016-01-11 15:37] hjmjohnson commented on #97
@thewtex

Matt,  Would you mind commenting on the pro's/con's of an automated timestamp commit?

[2016-01-11 15:42] billhoffman commented on #97
I think it allows for the dashboard to do nightly builds that are the same git hash.  So, I think it is still a useful thing.  Although, in CMake I think we use a moving tag.  @bradking what do you think?

[2016-01-11 15:47] andyneff commented on #97
I would prefer a moving tag/branch much more.

[2016-01-11 16:09] thewtex commented on #97
In ITK, we use a "nightly-master" branch to do nightly builds on the same commit.  It works well.

[2016-01-11 16:17] bradking commented on #97
The nightly date stamp commit is done in order to provide a detailed API version number for clients to test.  Originally it was added because ITK kept getting broken by changes to VXL's API and needed a way to detect which APIs are available in a version-granular way in order to allow ITK to build against an arbitrary system-provided version of VXL.  I don't think ITK has needed to have such a che

[2016-01-11 21:00] thewtex commented on #97
Since ITK does not use it anymore, +1 for removing it.

[2016-01-12 15:05] hjmjohnson commented on #96
@yanggehua Here is the issues to track and comment on fixing this problem.

When you write your comment for the patch set that fixes this, please include "resolves #96" so that this issues is automatically closed and linked to the fix.

[2016-01-12 15:18] hjmjohnson opened #99 "Incorporate outstanding vpgl patch sets."
@pcarr Thank you for addressing these outstanding patches.

Dev/calibration routines and tests #95 opened 4 days ago by hjmjohnson
Dev/fix clang warnings  #94 opened 4 days ago by hjmjohnson
Dev/fix calibration matrix  #93 opened 4 days ago by hjmjohnson

I have made this issue so that you can track changes and progress here.

Thanks,
Hans

Hi Hans,

Yes, I can take a look at those patches to see

[2016-01-12 15:22] yanggehua commented on #96
@hjmjohnson  Thanks for the information.   I was looking at the VXL dashboard but cannot find a failure of rgrl_estimator.  Could  you please kindly point me to one of such failures?

[2016-01-12 17:06] hjmjohnson commented on #96
@yanggehua
** The test failed 2 out of 30 times, and passed 28 out of 30 times. **

for i in $(seq 1 30); do ctest -R rgrl_estimator; done

It either segmentation faults, or times out for failures.  It appears that a variable is not being explicitly set to a known value (probably 0).  When it is "accidently" set to zero, then the test passes.

Hans

[2016-01-12 19:48] bradking commented on #97
For reference, ITK uses the vxl version date in a few places:

    $ cd ITK
    $ git grep VXL_VERSION_DATE
    Modules/Core/Common/include/itkArray.h:#if VXL_VERSION_DATE_FULL < 20110428
    Modules/Core/Mesh/include/itkSimplexMesh.hxx:#if VXL_VERSION_DATE_FULL > 20040406
    Modules/Core/Mesh/include/itkSimplexMeshAdaptTopologyFilter.h:#if VXL_VERSION_DATE_FULL > 20040406
    Modules/Core/Mesh/s

[2016-01-14 12:55] #24 closed

[2016-01-14 18:55] yanggehua opened #107 "Linking error when using the head of Master branch"
I encountered the following linking error with MSVC 2015.  It is missing instantiation file for vnl_sym_matrix< vcl_complex<float> >, as needed by commit c68bf93aecaf79ebfa986dd394c7869016534d7a.

10>test_complexify.obj : error LNK2019: unresolved external symbol "public: class vnl_sym_matrix<class std::complex<float> > & __cdecl vnl_sym_matrix<class std::complex<float> >::update(class vnl_sym_mat

[2016-01-14 19:45] DVigneault commented on #107
@yanggehua Adding the instantiation now--sorry for adding a bug.  Does this need to be done for `vnl_diag_matrix` also?  Which files are you including to get the error?

[2016-01-20 12:22] dstoup commented on #107
I believe this issue is resolved with merged branch.

[2016-01-20 12:22] #107 closed

[2016-01-20 12:33] #32 closed

[2016-01-20 14:57] hjmjohnson commented on #32
@dstoup THANKS!

[2016-01-20 18:38] hjmjohnson commented on #30
@thewtex Matt,  This information seems relevant to your ios issues.

[2016-01-20 19:31] thewtex commented on #30
@dstoup @hjmjohnson Thanks for the note.

[2016-01-23 03:40] hjmjohnson opened #125 "Disable BRL tests that previously were not run, and were failing"
There was an error where these tests were all given the same name, and therefore many of them were not being run.

The following tests are failing.

+if(0) # Previously this test was not run, and it fails
+ADD_TEST( NAME test_sun_hist_brad_test_all               COMMAND $<TARGET_FILE:brad_test_all> test_sun_hist)
+ADD_TEST( NAME test_phongs_model_est_brad_test_all       COMMAND $<TARGET_FILE:brad_

[2016-01-23 10:08] hjmjohnson opened #126 "vil1 is identified as deprecated: Remove unused files."
for i in vil1/_.h ; do  echo $(git grep $(basename $i) |sed "s#^$(dirname $i)._##g" |grep vil1 |wc -l) $i; done|sort -n
0 vil1/vil1_16bit.h
0 vil1/vil1_32bit.h
0 vil1/vil1_block_cache_image_impl.h
0 vil1/vil1_byte_swap.h
0 vil1/vil1_clamp_image.h
0 vil1/vil1_clamp_image_impl.h
0 vil1/vil1_colour_space.h
0 vil1/vil1_convolve_simple.h
0 vil1/vil1_copy.h
0 vil1/vil1_crop_image_impl.h
0 vil1/vil1_file

[2016-01-23 21:14] hjmjohnson opened #127 "EXPORT_LIBRARY_DEPENDENCIES needs to be modernized."
This pull request is incomplete and should not be merged.
https://github.com/vxl/vxl/pull/122

Matt McCormic provide the following comment hints:
Thanks for looking at this. This is very old CMake usage that really should be updated. This patch looks good for removing the old code. However, more code is needed to replace its functionality. Using install(EXPORT and export( commands, a VXLTargets.cm

[2016-01-24 19:57] hjmjohnson opened #133 "auto_ptr is deprecated in C++11"
@aj
From:  http://stackoverflow.com/questions/2404115/is-auto-ptr-deprecated

/scratch/johnsonhj/src/vxl/vcl/tests/test_memory.cxx:24:43: warning: ‘auto_ptr’ is deprecated (declared at /opt/rh/devtoolset-3/root/usr/include/c++/4.9.1/backward/auto_ptr.h:87) [-Wdeprecated-declarations]
 static vcl_auto_ptr<A> generate_auto_ptr () { return vcl_auto_ptr<A>(new A); }

[2016-01-25 15:28] yanggehua commented on #96
Hmmm... I cannot re-produce this issue.  I tried on two computers, Windows 10 and OpenSuse 13.2 64-bit.  I tried both 32-bit and 64-bit, debug and release on the latter.  I even increase the count to 100 times of the loop.  Still, I did not have any single failures.

[2016-01-25 21:09] hjmjohnson opened #139 "vnl_algo_test_svd_fixed fails 17/100 time in tests on Linux"
for i in $(seq 1 100); do  ctest  -R vnl_algo_test_svd_fixed; done

Test 012: Stack memory SVD is faster than heap memory SVD       --> **FAILED**

This is a failure in speed testing that is not related to the quality of the results, just in the relative speed of two different approaches.

[2016-01-26 01:25] #139 closed

[2016-01-28 12:57] hjmjohnson commented on #99
@pcarr Are you still planning to work on thiese patches before the end of January?

I need to remove them from the active pull requests if they are not going to be addressed soon.

Thanks,
Hans

[2016-01-28 16:47] yidongVSI opened #144 "missing values for new defined macros under VS12-Windows7"
Dear all,
Under VS12-Windows7, the newly added 4 macros don't have values if the checking returns failure during configuration, shown below
...
Performing Test VXL_HAS_STD_ISNAN
Performing Test VXL_HAS_STD_ISNAN - Failed
Performing Test VXL_HAS_STD_ISINF
Performing Test VXL_HAS_STD_ISINF - Failed
Performing Test VXL_HAS_STD_ISFINITE
Performing Test VXL_HAS_STD_ISFINITE - Failed
Performing Test VXL

[2016-01-29 01:25] pcarr commented on #99
Why don't you delete them for now, and I'll re-issue when I do find time to look at the code.

[2016-01-29 02:49] hjmjohnson commented on #99
Sounds good.  Do you have a copy of these in your own repository?

Hans

From:  Peter Carr <notifications@github.com>
Reply-To:  vxl/vxl <reply@reply.github.com>
Date:  Thursday, January 28, 2016 at 7:25 PM
To:  vxl/vxl <vxl@noreply.github.com>
Cc:  Hans Johnson <hans.j.johnson@gmail.com>
Subject:  Re: [vxl] Incorporate outstanding vpgl patch sets. (#99)

Why don't you delete them for now, and I'l

[2016-02-03 21:37] #144 closed

[2016-02-06 16:31] hjmjohnson opened #158 "Build failure for dashboard."
Build failures

1) You have a space in the path name "My Test", so perhaps this is not yet updated dashboard.

2) builds are failing:
https://open.cdash.org/viewBuildError.php?buildid=4224187

When you make the commit, include "resolves #158" in the commit message to close this issue.

[2016-02-06 19:36] hjmjohnson commented on #96
@yanggehua I don't know how to force it to fail, but it often fails on the travis testing environment.  See again pull request failure #160

[2016-02-06 19:44] hjmjohnson opened #161 "Valgrind does not support "long double""
Valgrind does not support "long double", so we need to make a suppression for it.

These are false positives due to the lack of long-double support in valgrind.

UMC ==62329== Conditional jump or move depends on uninitialised value(s)
==62329==    at 0x38C7A81B96: std::ostreambuf_iterator<char, std::char_traits<char> > std::num_put<char, std::ostreambuf_iterator<char, std::char_traits<char> > >::_

[2016-02-06 19:47] hjmjohnson commented on #161
-mlong-double-64

@ajjl
@dstoup

We may want to try building with "-mlong-double-64" when doing valgrind testing.  valgrind does not support long doubles, so this may avoid some false positives.

[2016-02-07 14:47] hjmjohnson opened #164 "Code Style Conformance: Format code consistently"
This is a big issue that need some careful consideration and consistency across several tools.

This community is closely linked with ITK, VTK, and VXL, so we should consider a coding style that has similarities across these domains.

Some good discussions:

https://github.com/vxl/vxl/pull/145
https://github.com/uclouvain/openjpeg/issues/128

Hans

[2016-02-07 15:50] hjmjohnson opened #166 "Windows MFC CMP0054 policy."
CMake Warning (dev) at c:/Program Files (x86)/CMake/share/cmake-3.2/Modules/FindMFC.cmake:39 (if):
  Policy CMP0054 is not set: Only interpret if() arguments as variables or
  keywords when unquoted.  Run "cmake --help-policy CMP0054" for policy
  details.  Use the cmake_policy command to set the policy and suppress this
  warning.

  Quoted variables like "MFC_HAVE_MFC" will no longer be derefere

[2016-02-07 15:51] hjmjohnson commented on #55
@dstoup

See: ENH: Instrument test_complex to help identify failure #167  Trying to figure out what is going on.

[2016-02-08 15:27] billhoffman commented on #166
This was fixed in CMake:
commit dcf298008f60fa00ddcb225b7a474317ad4d317f
Author: Brad King <brad.king@kitware.com>
Date:   Thu Mar 26 09:00:32 2015 -0400

    FindMFC: Use if(DEFINED) to simplify condition (#15477)

    Replace an old hack of the form 'if("${VAR}" MATCHES "^${VAR}$")'
    with the much simpler 'if(NOT DEFINED ${VAR})'.  This was exposed
    by a CMP0054 warning.

[2016-02-08 18:20] hjmjohnson commented on #166
@billhoffman  Perhaps we can remove the local FindMFC.cmake from vxl then.

[2016-02-08 18:54] billhoffman commented on #166
But the error you showing seems to be coming from CMake itself:  c:/Program Files (x86)/CMake/share/cmake-3.2/Modules/FindMFC.cmake:39 (if):

[2016-02-10 10:03] chulup opened #170 "Compile error on Cygwin + GCC 5.3.0"
I got this infuriating error while building VXL with GCC 5.3.0 on Cygwin:

Building CXX object contrib/oxl/vrml/CMakeFiles/oxl_vrml.dir/vrml_out.cxx.o

[code]

In the end, I went to that line in vrml_out.cxx and add that:
# define quad quad

after that I got it compiled, but with new warning:

[code]

[2016-02-10 15:50] yanggehua commented on #96
@hjmjohnson I will take a look a little later. The problem is that the test uses random number generator.  I cannot reproduce this failure on my computer and this travis build does not provide any detailed information.

[2016-02-10 16:10] hjmjohnson commented on #96
Thanks Gehua,

I know these problems are difficult.  Let’s not discount the fact that perhaps the test itself is a bad test, and the underlying algorithm may be OK.

My gut feeling is that this is due to uninitialized variables being used.  You may want to look at the identified more errors: https://open.cdash.org/viewDynamicAnalysis.php?buildid=4229188  and determine if any of these reported prob

[2016-02-10 18:21] yidongVSI opened #171 "Default output library path not working"
In recent commit '3223fb2', old EXECUTABLE_OUTPUT_PATH and LIBRARY_OUTPUT_PATH were replaced by new CMAKE_LIBRARY_OUTPUT_DIRECTORY, CMAKE_ARCHIVE_OUTPUT_DIRECTORY and CMAKE_RUNTIME_OUTPUT_DIRECTORY.

EXECUTABLE_OUTPUT_PATH and LIBRARY_OUTPUT_PATH enable user to specify appropriate paths during configuration to store all built executable and static libraries, e.g., ${vxl_BINARY_DIR}/exe and ${vxl_B

[2016-02-10 19:46] yanggehua commented on #96
@hjmjohnson Thanks for the suggestion.  After taking a look, however, none of the issues reported are related to test_estimator.cxx or the files used by this test.

I looked through builds on the dashboard and found one failure on  CentOS6Linux-gcc-4.4.7-Release-shared (urras.kitware), https://open.cdash.org/testDetails.php?test=417952803&build=4225414.  I have committed fix and will see how it wo

[2016-02-10 19:48] thewtex commented on #171
@yidongVSI  did you try setting CMAKE_LIBRARY_OUTPUT_DIRECTORY to be the path required?

[2016-02-10 20:06] yidongVSI commented on #171
@thewtex Yes, I tried.  Neither the default value, ${vxl_BINARY_DIR}/lib, nor any specified path worked.

[2016-02-10 20:18] decrispell commented on #96
You could always seed the random number generator with a hard-coded constant for easier repeatability.  Of course if there really is a bug that is only exposed by just the right combination of random values you might not ever see it again.

[2016-02-10 20:31] yanggehua commented on #96
Let's see if it is getting any better (or not).

[2016-02-10 20:39] mleotta commented on #96
I’ve seen the debate before about whether or not to seed random number generators in unit tests with fixed constants.  In the past the conclusion has been that generally you should do this.  At the end of the day, repeatability is most important in these unit tests so that it is easier to debug.  We want tests to fail when someone breaks the code, not at random due to random number selection.  If

[2016-02-10 20:47] yanggehua commented on #96
@mleotta A point well made.   If the test fails again, I will take this approach, using a fixed seed for random number generator.

[2016-02-11 14:01] #171 closed

[2016-02-11 14:08] hjmjohnson commented on #171
@yidongVSI I think I fixed this with the recent merge.  Please let me know if the problem is now resolved.

[2016-02-18 12:23] TimCootes opened #182 "Transitive linking failure"
Recent changes to VXL seem to have made transitive linking fail for libraries depending on VXL.

For instance, the following program requires vgl:

#include <vgl/vgl_vector_2d.h>
int main()
{
  vgl_vector_2d<double> vec(3,5);
  double L=vec.length();
}

If the CMakeLists.txt is:
---------------------------------------------
PROJECT(test_link_lib_project)

INCLUDE_DIRECTORIES(${VXL_CORE_INCLUDE_DIR

[2016-02-18 14:02] hjmjohnson commented on #182
This is related to #127.

It seems that a gradual change to update VXL for exporting of libraries is not going to work.

@TimCootes It is likely that I will need the weekend to resolve this issue.

pull request #183 is the first step towards making the conversion.

[2016-02-18 15:38] thewtex commented on #127
@hjmjohnson FYI @ricortiz is looking into this.

[2016-02-18 16:54] hjmjohnson commented on #127
I pushed a set of patches as another first step in this process.

Hans

From:  Matt McCormick <notifications@github.com>
Reply-To:  vxl/vxl <reply@reply.github.com>
Date:  Thursday, February 18, 2016 at 9:38 AM
To:  vxl/vxl <vxl@noreply.github.com>
Cc:  Hans Johnson <hans.j.johnson@gmail.com>
Subject:  Re: [vxl] EXPORT_LIBRARY_DEPENDENCIES needs to be modernized. (#127)

@hjmjohnson FYI @ricortiz

[2016-02-18 17:47] ricortiz commented on #127
Are those set of patches part of #184 pull request?

[2016-02-20 16:41] hjmjohnson opened #188 "sdet_sel test claims sub-test failure, but overall passes."
819: Test command: /Users/johnsonhj/src/delteme-bld/bin/sdet_test_all "test_sel"
819: Test timeout computed to be: 1500
819: -----------------------------------------------------------------------------
819: Start Testing  Test sdet_edgel class:
819: -----------------------------------------------------------------------------
819:  Test 001: Constructor                                           -

[2016-02-21 18:41] #127 closed

[2016-02-21 18:41] #182 closed

[2016-02-21 20:45] hjmjohnson commented on #158
@ajjl

[2016-02-22 09:04] TimCootes opened #192 "CMake fails"
Unfortunately I can no longer build VXL at all (Ubuntu, cmake version 2.8.12.2)
When running configuring a fresh object directory using cmake ../vxl I get many errors of the form:

CMake Error: install(EXPORT "VXLTargets") given absolute DESTINATION "/usr/local/share/vxl/cmake" but the export references an installation of target "vcl" which has relative DESTINATION "lib".

[2016-02-22 13:40] hjmjohnson commented on #192
I’ll continue looking into this asap.

--

From:  Tim Cootes <notifications@github.com>
Reply-To:  vxl/vxl <reply@reply.github.com>
Date:  Monday, February 22, 2016 at 3:04 AM
To:  vxl/vxl <vxl@noreply.github.com>
Subject:  [vxl] CMake fails (#192)

Unfortunately I can no longer build VXL at all (Ubuntu, cmake version 2.8.12.2)
When running configuring a fresh object directory using cmake ../vxl I

[2016-02-22 15:40] hjmjohnson opened #194 "VXL local FindPackages prefer to find packages in CMAKE_INSTALL_PREFIX"
After VXL is "make installed" the local VXL FindPackages for Expat, Tiff , GeoTiff, JPEG all change the location that they point to for finding the link libraries from the BUILD_DIR to the CMAKE_INSTALL_PREFIX dir versions.

This causes many very confusing build issues.

To replicate, build normally, make install, build again, then delete the installed directory.  The builds no longer work!  (Erro

[2016-02-22 16:41] TimCootes commented on #192
The recent fix has made this error go away - thanks.

[2016-02-22 16:41] #192 closed

[2016-02-22 16:47] hjmjohnson commented on #192
@TimCootes Hopefully this will become stable soon.  We have also improved the testing environment.

Thank you for your assistance and the example that you provided.

[2016-02-23 16:34] yanggehua commented on #96
A fixed random seed is now used for the test in question.

[2016-02-23 16:34] #96 closed

[2016-02-24 23:08] andyneff opened #198 "PR #184 broke compatibility with cmake 2.8.9"
I am running cmake 2.8.11 on CentOS 7, and can no longer get cmake to make vxl.

EXPORT_LINK_INTERFACE_LIBRARIES from [here](https://github.com/vxl/vxl/blob/master/config/cmake/export/VXLCreateProject.cmake#L29) does not appear to be supported until cmake 2.8.12

This is a significantly troublesome version threshold, since the entire RHEL/CentOS 7 community does not have access to Cmake pass 2.8.1

[2016-02-25 01:59] hjmjohnson commented on #198
@andyneff  We recentcly changed the travis build system to use 2.8.9 so that in the future these problems will be caught earlier.

https://github.com/vxl/vxl/blob/db1ab102c9b6d4f4e27d6d8c762e4c9e29c1c77c/.travis/install-deps.sh#L14

I'm working on a potential fix right now.

[2016-02-25 02:42] hjmjohnson commented on #198
@andyneff Would you be able to test the proposed fix?

[2016-02-25 14:01] hjmjohnson commented on #198
@andyneff I think this is fixed now.

[2016-02-25 14:01] #198 closed

[2016-02-25 16:10] andyneff commented on #198
This fixed the Export problem, Thanks!

But I'm not 100% sure its working "right"? Now I have a new one...

This one I can't identify as easily, but we do know that I don't see this problem in CMake 2.8.12, but I do see these message in in CMake 2.8.11

Configuration finishes successfully, but during generation, I get about 197 messages. Here are the first 5

[code]

At first I thought that Error

[2016-02-27 10:58] DVigneault opened #206 "Are VXL exception functions just aborting?"
### TL;DR

According to the [implementation file](https://github.com/vxl/vxl/blob/647386048f3f71ed6d9e7d67de5d11dab5ddacfc/core/vnl/vnl_error.cxx) documentation (there is no documentation in the header), the function `vnl_error_vector_index` should "[r]aise exception for invalid index".  However, my attempts to `throw` and `catch` with this function resulted in program termination.  After drilling

[2016-02-27 14:35] DVigneault commented on #206
This issue was addressed here https://github.com/vxl/vxl/pull/207.

[2016-02-27 14:35] #206 closed

[2016-02-28 17:23] hjmjohnson opened #209 "Development tools do not recognize .txx file extension"
Github doesn't automatically recognize txx files as c++, and therefore does not provide syntax highlighting in the browser. This patch gives github a "hint" which allows it to provide in-browser syntax highlighting.

The problem is more widespread. We ran into this for ITK (see below). ITK has git hooks to prevent .txx files from being added in the future.

I would HIGHLY recommend (and emphatical

[2016-02-28 23:00] hjmjohnson commented on #97
I believe the rationale is to be able to have version information from a source tarball taken at any given point in history, not jus a release, without the repository metadata.  Think of using 'git archive' to generate a source tarball.

On Jan 11, 2016 10:37 AM, "Johnson, Hans J" <hans-johnson@uiowa.edu> wrote:
Hello VXL maintainers,

I’ve made an issue at : https://github.com/vxl/vxl/issues/97 t

[2016-02-29 14:49] bradking commented on #97
Extracting the date from the Git commit object gives one a date, but it is not representative of the version of vxl.  I could take a 5 year old commit from vxl, start a branch, create one commit, and then build.  Suddenly it reports as a modern version of vxl even though it is not.

The only way to have a meaningful version number is to have a defined development path in which it is updated.  With

[2016-02-29 15:31] andyneff commented on #97
You could always just ask git "What version from master did this branch come from"

    diff -u <(git rev-list --first-parent HEAD) \
            <(git rev-list --first-parent master) | \
            sed -ne 's/^ //p' | head -1

\[1\] - [source](http://stackoverflow.com/a/9979346/4166604)

[2016-02-29 15:43] bradking commented on #97
That assumes that the local `master` matches the upstream `master`.  Local commits on the branch will break it.  Also tarballs from `git archive` will not have this information even if they encoded the date of the commit from which they were built.

This is a general problem with distributed version control.  Every project has the same problem, but it is particularly problematic for vxl because:

[2016-03-02 15:05] hjmjohnson commented on #209
After great conversations and a few rounds of improvements, this was completed in pull request #212 210

[2016-03-02 15:05] #209 closed

[2016-03-09 17:53] hjmjohnson opened #229 "Jpeg implementation of v3p needs updating"
A deprecated function is currently being depended on.  The entire jpeg infrastructure needs to be reconsidered, updated, and use of deprecated functions removed.

 991 #if 0 // There is no need to report this warning.  It just makes the dashboard noisy.
 992 // If we explcitly set USE_OPJ_DEPRECATED to on, then we have determined that we
 993 // want to use the deprecated function, and we should n

[2016-03-13 22:00] hjmjohnson commented on #161
Fix in #236

[2016-03-13 22:00] #161 closed

[2016-03-13 22:01] #158 closed

[2016-03-13 22:04] hjmjohnson opened #238 "Migrate "FUTURE_LEGACY_REMOVE" from ITK to VXL"
The macro infrastructure for removing legacy code in ITK works really well.  Add this infrastructure to VXL.

[2016-03-13 22:05] hjmjohnson commented on #238
@ajjl

[2016-03-25 18:47] decrispell opened #250 "including VXL as a subdirectory"
@hjmjohnson  We have been including VXL in another project by including it as a subdirectory via CMake's add_directory.   This was broken by 6f4c444e because CMAKE_SOURCE_DIR and CMAKE_BINARY_DIR do not point to the root vxl directory, but the root of the base project.  Would making the paths relative to CMAKE_CURRENT_BINARY_DIR and CMAKE_CURRENT_SOURCE_DIR instead satisfy the original goals of th

[2016-03-25 21:08] hjmjohnson commented on #250
Daniel,

Thank you for the note.  I must not have done a good enough job, but there is at least a partial fix in
https://github.com/vxl/vxl/commit/19e1a5b3409967534f4a461011f96db1535dd469

That attempted to address this problem.  I then to prefer CMAKE_CURRENT_LIST_DIR when possible.
Note that +set(VXL_ROOT_SOURCE_DIR ${CMAKE_CURRENT_LIST_DIR}) was added to make it easier to find the base of VXL.

[2016-03-29 18:45] decrispell commented on #250
Thanks for the tips, Hans.  I believe the remaining issues are now resolved by #253.

[2016-03-29 19:12] #250 closed

[2016-04-11 15:13] minzhee opened #265 "vidl_pixel_format_from_ffmpeg’ was not declared in this scope"
Hello, everyone,When I build the whole vxl project, I come cross the problems as the following, I
can not figure out what the reason is and when I search in google I can not find answers. Can any one help? I am new to linux.  Thanks !!
This is produced after the "make" command:

[ 35%] Built target vpgl_io_test_template_include
[ 35%] Built target vpgl_xio
[ 35%] Built target vpgl_xio_test_all
[ 3

[2016-04-11 16:21] decrispell commented on #265
Do you need FFMPEG support?  If not, try setting the "WITH_FFMPEG" CMake variable to false (from within the gui or -DWITH_FFMPEG=False from the cmake command line).

The underlying issue could be a FFMPEG version incompatibility.

[2016-04-11 16:55] minzhee commented on #265
It work!!
Thanks very much !!!!
I've Still a lot learn!!

[2016-04-11 20:30] #265 closed

[2016-04-13 14:53] DVigneault opened #266 "Difficulty adding a LAPACK subroutine."
All--

I've recently needed access to a few subroutines from [LAPACK](http://www.netlib.org/lapack/lapack-3.6.0.html) which aren't shipped along with VXL.  The [README](https://github.com/vxl/vxl/tree/master/v3p/netlib) for `v3p/netlib/` hasn't been updated in a while, but the instructions are pretty thorough.  As a test case, I tried to add [sgees](http://www.netlib.org/lapack/explore-html/d2/d09

[2016-04-13 17:10] hjmjohnson commented on #266
Davis,

I recently looks at this as well.  Ideally we should put more thought into this, but given limited resources I think you need to just do what you can with the current system.

Hans

--

From:  Davis Vigneault <notifications@github.com>
Reply-To:  vxl/vxl <reply@reply.github.com>
Date:  Wednesday, April 13, 2016 at 4:53 PM
To:  vxl/vxl <vxl@noreply.github.com>
Subject:  [vxl/vxl] Difficulty

[2016-05-04 15:02] decrispell opened #289 "C++11 compile errors"
When compiling with the flag `-std=c++11`, `vnl_numeric_traits` produces many similar compiler errors (a subset copied below).   I haven't tracked down the exact commit that caused this but I know it is after 128c7e4b3a6287c78d5169b6732a17ffd1e63ba6.   Any ideas @hjmjohnson ?

[code]

[2016-05-04 15:15] hjmjohnson commented on #289
You may need a clean build, and the master branch.  I have been compiling with C++11 on both Mac and Linux without issues after

https://github.com/vxl/vxl/commit/65ee068a5d9d6bce1e9abe3e0b59c355a6e58e04

If you can identify how to replicate the problem on a clean build, I will address as quickly as possible (I really want C++11 support to be clean).

Hans

From:  Daniel Crispell <notifications@gi

[2016-05-04 15:23] hjmjohnson commented on #289
Can you double check your build directory and ensure that in

vcl/vcl_config_compiler.h

/* The version of the CXX compiler used when VXL was built */

#define VXL_COMPILED_CXX_STANDARD_VERSION 201103L

Hans

From:  Daniel Crispell <notifications@github.com>
Reply-To:  vxl/vxl <reply@reply.github.com>
Date:  Wednesday, May 4, 2016 at 10:02 AM
To:  vxl/vxl <vxl@noreply.github.com>
Cc:  Hans Johnson

[2016-05-04 15:36] decrispell commented on #289
@hjmjohnson Yes, I see  `#define VXL_COMPILED_CXX_STANDARD_VERSION 201103L` In my vcl_config_compiler.h.   I can replicate the errors with a clean build using the following cmake flags:

cmake -DWITH_FFMPEG=False -DVXL_EXTRA_CMAKE_CXX_FLAGS=-std=c++11

[2016-05-04 15:40] decrispell commented on #289
I added the -std=c++11 flag to my dashboard build and forced it to re-run, so you can see the errors there too if that helps:  https://open.cdash.org/viewBuildError.php?buildid=4350879

[2016-05-04 15:48] decrispell commented on #289
@hjmjohnson Perhaps related?  https://gcc.gnu.org/bugzilla/show_bug.cgi?id=58541  (I'm using gcc 4.8.4)

[2016-05-04 15:49] hjmjohnson commented on #289
That is weird.  I just completed a clean build on the master branch with out those errors following your same instructions:

/opt/rh/devtoolset-3/root/usr/bin/c++ --version

c++ (GCC) 4.9.1 20140922 (Red Hat 4.9.1-10)

Copyright (C) 2014 Free Software Foundation, Inc.

This is free software; see the source for copying conditions.  There is NO

warranty; not even for MERCHANTABILITY or FITNESS FOR

[2016-05-04 15:57] hjmjohnson commented on #289
I’m working a little blind here, but I have some idea of what might be going on.  Let me try to make a code simplification so that we can identify the problem more clearly.

Hans

From:  Daniel Crispell <notifications@github.com>
Reply-To:  vxl/vxl <reply@reply.github.com>
Date:  Wednesday, May 4, 2016 at 10:48 AM
To:  vxl/vxl <vxl@noreply.github.com>
Cc:  Hans Johnson <hans.j.johnson@gmail.com>,

[2016-05-18 04:29] raul309 opened #300 "use vxl in QT"
1- I download VXL from github.
2- then create a folder for the VXL libraries( “C:\vxl”). Inside that folder create two more:
        A sources folder "C:\vxl\vxl_source"
        A binary folder "C:\vxl\vxl_build"
3- Open CMake:
         In the “Where is the source” box, browse to "C:\vxl\vxl_source"
         In the “Where to build the binaries” box, browse to "C:\vxl\vxl_build"
         Click “Con

[2016-05-21 02:47] raul309 commented on #300
Alooo

[2016-05-23 15:58] mleotta opened #304 "VXL does not build without GeoTIFF"
VXL seems to mostly support GeoTIFF as an optional dependency as there are numerous checks for "HAS_GEOTIFF" or "GEOTIFF_FOUND".  However, VXL does not build without GeoTIFF.

There are a few errors in core/vpgl/algo/vpgl_camera_convert.cxx that can be resolved by enclosing a couple of functions in `#if HAS_GEOTIFF`.  However, there is a lot more code in BRL that just assumes GeoTIFF is available.

[2016-05-25 15:53] rfabbri opened #305 "vnl std::complex instantiation problems with clang + libstdc++"
Hi,
I'm trying to build vxl on OSX using the default clang setup. It builds vnl OK, but since I need GNU extensions in my code, I activated the use of libstdc++ by

CMAKE_CXX_FLAGS = -Wno-gnu-static-float-init -stdlib=libstdc++

( Not sure if I should just switch to GCC entirely in this case. )

But then vnl spits out a link time error only for std::complex specializations of vnl structures:

[cod

[2016-05-25 16:37] yanggehua commented on #305
Hi Ricardo,

I have been compiling VXL on MAC OS X as well, but not with the latest revisions.  Just a quick check:  did you try to use "-std=c++11"  in the compilation?  It may not help your situation at well. It is just the first idea I come up with looking at your message.

Gary

[2016-05-25 17:44] hjmjohnson commented on #305
I just ran a clean build successfully:

mkdir vxl-libstdcxx

cd vxl-libstdcxx

cmake -DCMAKE_CXX_FLAGS:STRING="-Wno-gnu-static-float-init -stdlib=libstdc++" ../vxl

make

NOTE:  If you change the CMAKE_CXX_FLAGS after initial cmake configuration, you are effectively changing the compiler behavior AFTER all the introspection was done to determine what the compiler features are.  You MUST add these

[2016-05-25 20:08] rfabbri commented on #305
Compilation works, but the problem persists with

BUILD_SHARED_LIBS = ON

I still need shared libs for fast linking large executables during the build-test cycle.

[2016-05-25 20:45] rfabbri commented on #305
Some more tests:
BUILD_SHARED_LIBS = ON  will work without libstdc++ (ie, with libc++).
libstdc++ only works with BUILD_SHARED_LIBS=OFF
-std=c++11 just never works

[2016-05-26 13:37] decrispell commented on #304
I will look into this.  I'm surpised that this does not show up on the dashboard.  My dashboard system does have system geotiff libraries installed, but it would be surprising to me if all the other ones did as well.

[2016-05-26 13:41] dstoup commented on #304
When the system doesn't have geotiff, I believe VXL builds it on your
behalf, thus all works well. VXL_USE_GEOTIFF is enabled by default.

I have solved the BRL issue in our local repos by disabling the entire
package when geotiff is disabled. I tried a more surgical approach at one
point, but the vpgl stuff is throughout.

On Thu, May 26, 2016 at 9:37 AM, Daniel Crispell <notifications@github.com

[2016-05-26 14:06] mleotta commented on #304
Yes @dstoup, you are right that GeoTIFF is in v3p and VXL will build it if not found.  The particular situation I found my self in what building on a machine that had system packages for both TIFF and GeoTIFF installed.  However, I needed to build VXL against a custom version of TIFF that I built (specifically the one provided by Fletch - https://github.com/kitware/fletch).  I did not have a custo

[2016-05-26 15:27] #305 closed

[2016-05-26 19:32] decrispell commented on #304
@mleotta  Sure, If you submit your vpgl pull request I can fiddle with BRL.

[2016-05-31 12:29] mleotta commented on #304
I believe this issue has been addressed.  I don't have time to tested it at the moment, but I am closing the issuing anyway.  We can always reopen the issue if it is found to persist.

[2016-05-31 12:29] #304 closed

[2016-05-31 17:09] hasnainv opened #310 "CMake build fails"
CMake version: 2.8.11
VXL version: latest (commit 8818a8de3b698b994f66d6fa7831b659751c25d1)

Cant' build vxl with flags BUILD_SHARED_LIBS=ON

The command that is failing is:
/usr/bin/c++   -DVXL_LEGACY_ERROR_REPORTING -DVXL_WARN_DEPRECATED -DVXL_WARN_DEPRECATED_ONCE -Dvpl_EXPORTS -fPIC -Ivcl -I../vcl -Icore -I../core    -fPIC;-fvisibility=hidden -fvisibility-inlines-hidden -MMD -MT core/vpl/CMakeF

[2016-05-31 19:57] hasnainv commented on #310
@hjmjohnson The issue seems to be from a commit coming from you (commit a38531a2)

If I comment the line COMPILE_FLAGS "${fPIC_COMPILER_FLAGS} in core/vpl/CMakeLists.txt, it compiles fine.
Since you're adding the fPIC flag here again, note that fPIC flag is already added from the base CMakeLists when BUILD_SHARED_LIBS is ON.

[2016-06-01 13:31] rfabbri opened #311 "vcl_config_manual.h not found"
Hi,

I'm building another library that depends on VXL using CMAKE,
and with the simplest code I get this compile error:

[code]

I did not do a make install in VXL but rather pointed to the vxl binary folder in my lib's CMAKE.

Any ideas?

[2016-06-01 13:57] mleotta commented on #311
I had this issue recently as well.  vcl_config_manual.h is in the build directory.  There are new CMake variables that include both the source and build include directories.  The names are the same as before but with an “S".  So you need to update your “include_directories” call to use  ${VXL_CORE_INCLUDE_DIRS}  instead of ${VXL_CORE_INCLUDE_DIR}.  The same is true for  ${VXL_VCL_INCLUDE_DIRS}.

—

[2016-06-01 14:34] rfabbri commented on #311
Including VXL_VCL_INCLUDE_DIRS works. Thanks!

[2016-06-01 14:34] #311 closed

[2016-06-01 14:48] rfabbri opened #315 "BUILD_SHARED_LIBS link issue"
When linking my app with with `BUILD_SHARED_LIBS = ON`,

It asks for a .a archive instead

`make[2]: *** No rule to make target `/Users/rfabbri/cprg/vxlprg/vxl-bin/lib/libvbl.a', needed by `basic/dbbl/tests/dbbl_test_include'.  `

Any hints? my cmakelists are a bit old, not sure what changed with BUILD_SHARED handling.

The cmake instruction to link the executable is:

`target_link_libraries( dbbl

[2016-06-16 13:36] hjmjohnson commented on #289
@decrispell Can you please verify that the recent migration to the CMake paradigm of granular C++ feature detection has resolved this issue?  If it has, please close this issue.

https://github.com/vxl/vxl/pull/293

Thank you,
Hans

[2016-06-20 14:41] decrispell commented on #289
Yes, the problem seems to be resolved.  Thank you!

[2016-06-20 14:41] #289 closed

[2016-06-22 17:02] hjmjohnson opened #326 "MSVS15 segfault on vnl_matrix_fixed::flipud and vnl_matrix_fixed::fliplr"
@DVigneault The recent new test are failing on MSVS15.

https://github.com/vxl/vxl/pull/325/commits/f03e6d80b9a542f84d430efba0cf68a52daabe74
#325 disables a test that is consistently failing on MSVS15 in release mode.  That failure is causing problems with integration of VXL into ITK.

After spending many hours trying to figure out how to tack down the problem in MSVS15, the test code (that excers

[2016-06-23 18:01] hjmjohnson opened #328 "Review instantiation and export specification for VXL"
==As reviewed by @blowekamp=========================
I fired off an experimental build for VS9 shared.
I just noticed that VNL, does not include the hxx in with the header files:
ITK/Modules/ThirdParty/VNL/src/vxl/core/vnl
grep virtual $(find ./ -name *.h)
For example if you are trying to use vnl_matrix<long double>, and there was no VNL_MATRIX_INSTANTIATE(long double), then you would get linking

[2016-06-23 19:05] blowekamp commented on #328
Above should read "trying to use vnl_matrix<long double>" and "different than ITK's."

[2016-07-01 08:43] tvercaut opened #332 "LSQR (and related) Licensing Issues (ITK bug HISTITK-1160)"
In 2010, we identified a licensing issue with some code from vnl and at the time Luis Ibanez fixed it from the ITK side:
https://issues.itk.org/jira/browse/HISTITK-1160

Luis notably rewrote the LSQR code:
https://github.com/InsightSoftwareConsortium/ITK/tree/release-3.20/Utilities/vxl/v3p/netlib/linalg
http://svn.na-mic.org/NAMICSandBox/trunk/SparseLinearSolverConversion/C++/
https://github.com/I

[2016-07-01 15:20] yanggehua opened #333 "32-bit VS2015 Compilation failed with vsl_basic_xml_element.h"
It looks like two overloading functions of vsl_basic_xml_element::add_attribute collided during 32-bit compilation for size_t and unsigned int are the same types on VS2015 32-bit environment.  Here is the error from VS2015:
1>c:\gehua\code\vxl\src\core\vsl\vsl_basic_xml_element.h(48): error C2535: 'void vsl_basic_xml_element::add_attribute(std::string,size_t)': member function already defined or d

[2016-07-01 17:08] thewtex commented on #332
@hjmjohnson @tvercaut I will take a look...

[2016-07-01 21:30] QuadmasterXLII commented on #332
Working on it at http://review.source.kitware.com/#/c/21296

[2016-07-06 19:38] yanggehua commented on #333
Fixed with commit ef8753e6aada3d5d7d3ada3de3f33dbc5b64d4b4.  As it is straight forward, it is already merged in the master.

[2016-07-06 19:38] #333 closed

[2016-07-06 19:39] yanggehua commented on #333
Here is the correct commit hash 84b15758b3efe5b2dae981f3211f0b1c7104d881

[2016-07-11 19:11] andyneff opened #341 "Breaking change in BRL Python adaptors"
I'm creating this issue to try and get a feel for who all will be affected by these changes.

---

We are planning on merging in a breaking change into how the BRL Python adaptors work.

For too long, there has been duplication in certain core adaptors such as `bbas_adaptor`, `brad_adaptor`, `brip_adaptor`, `bvgl_adaptor`, `sdet_adaptor`, `vil_adaptor`, and `vpgl_adaptor`. Each batch (`boxm_batch`

[2016-07-13 14:31] yanggehua opened #343 "Crash in FFMpeg when calling vidl_ffmpeg_istream:: seek_frame(unsigned int frame)"
I was trying to seek to frame 420 on a avi file that is encoded with RGBP codec (Palettized RGB). Essentially every frame is a key frame with this codec.  But the call to vidl_ffmpeg_istream:: seek_frame(unsigned int frame) crashed in the middle of call to avcodec_flush_buffers().

If I commented out the call to avcodec_flush_buffers() (line 620 of vidl_ffmpeg_istream_v56.hxx).  It actually worked

[2016-07-13 14:31] yanggehua commented on #343
@mleotta I wonder if you have any knowledge about this "flush" usage. :)

[2016-07-13 14:38] mleotta commented on #343
@yanggehua I do not have any other insight here.  From my experience the "seek" functionality in FFMPEG has always been unreliable, but I've never had a crash as a result.  Usually the problem is that seek doesn't give you frame-accurate seeking because it is based on time stamps rather than frame numbers.  Time stamps are usually sufficient if the end application is video playback, but not so muc

[2016-07-13 14:44] yanggehua commented on #343
@mleotta Thanks for your comment.  Hmmm.... I am scratching my head wondering  how I could fix this vidl_ffmpeg_istream:: seek_frame().

[2016-07-13 18:59] yanggehua commented on #343
fixed in #344

[2016-07-14 20:28] yanggehua commented on #343
fixed in #344

[2016-07-14 20:28] #343 closed

[2016-07-22 11:13] hjmjohnson commented on #332
Resolved in: https://github.com/vxl/vxl/pull/337

[2016-07-22 11:13] #332 closed

[2016-08-01 11:44] DVigneault opened #349 "Build Failure: DCMTK"
_Note_: I _am_ able to get this to build if I turn `VXL_FORCE_V3P_DCMTK` `ON`--I only get this error when trying to use the system version (which is the default--and I have confirmed that DCMTK is installed).  However, since I wasn't able to find the root of the issue, I thought I'd share my experience in the hopes of giving someone else a head start.

---

I'm running up against a build failure w

[2016-09-10 18:02] rfabbri commented on #315
I'm working on this in OSX 10.11.6. Some failed attempts:
- updated cmake to git
- updated CmakeLists.txt's in my app to mimmick VXL

I'm now moving to fine combing:
- looking into git log for vxl CMakeLists.txt to catch some related changes.
- writing a minimal app that uses vxl, to reproduce the error

Anyone else ran into this?

[2016-09-10 18:30] rfabbri opened #355 "minor bug: repeated policy settings"
Toplevel CMakeLists.txt has repeated policy settings, around lines 34-41

[code]

Need to insert the right numbers or remove dup

[2016-09-10 23:24] rfabbri commented on #315
Ok, so here's the update.

- looking into git log, a few things have changed in the build process no changes helped solve the problem
- writing a minimal app, this is what I found so far:
-- I can link to vul when changing target_link_libraries (while not including any header) but no other lib.
-- When including a header from vul I get an error
[code]

The minimal app `hello-vxl` can be obtained h

[2016-09-10 23:52] rfabbri opened #356 "Update VXL Book on Cmake for External Apps"
The vxl appendix regarding how to build an external app or lib that uses VXL is outdated.
We should remove all references to redundant information to make this document easier to maintain.

Perhaps we should maintain a small example of external application that uses vxl and update it as the vxl build system is improved.
I've started a very simple app called 'hello-vxl' that uses VXL with CMake and

[2016-09-11 23:48] lood339 opened #357 "How to compile vxl to small number .lib files?"
Hi,
   At the moment, we will get a lot of lib files from vxl. For example, libvgl, libvgl_io. How can we get a small number of libs. For example, we only get a "libcore" for all the function in the core folder?
  I think it will make the vxl more easy to use.

Jimmy

[2016-09-11 23:54] rfabbri commented on #315
OK, a clean rebuild of vxl makes the hello-vxl program build, for both BUILD_SHARED_LIBS on and off.
There was probably some kind of thrash left around in my bin compile folders which I overlooked.
Silly well-known mistake, but I hope thats it.

[2016-09-12 13:17] rfabbri commented on #315
Recompiling both vxl and my app carefully with libstdc++ per the command:
`cmake -DCMAKE_CXX_FLAGS:STRING="-Wno-gnu-static-float-init -stdlib=libstdc++" ../vxl`
Solves this issue.

[2016-09-12 13:17] #315 closed

[2016-09-19 00:39] rfabbri opened #358 "memleak?"
Line 89 of file brdb_value.hxx seems to be causing a memleak when instantiating
in /Users/rfabbri/cprg/vxlprg/vxl/contrib/brl/bbas/brdb/Templates/brdb_value*

const brdb_value::registrar reg_inst_##T(new brdb_value_t<T >)

[2017-01-19 15:57] rfabbri opened #367 "VXLTargets.cmake duplicates"
I'm building a library that uses VXL.
It is complaining of repeated tags in VXLTargets.cmake.
Tested under both Ubuntu 16.04 (cmake 3.5.1) and Mac OS (cmake 3.6.20160910-gd9043)

I can see from vxl/config/cmake/export/VXLCreateProject.cmake
that upon creation of VXLTargets, an APPEND is used:

line 34:    APPEND

Whys is that? Why not overwrite?

I rebuild vxl using VGUI_ON a second time around, a

[2017-01-20 14:48] rfabbri commented on #367
OK, this is definitely confirmed.

If you configure VXL first without VGUI, then compile with VGUI, you'll have symbol clashes in VXLTargets.cmake which you'll only notice when building another library that uses VXL. The error spat by cmake is:

[code]

## How to reprouce it
[code]

## Workaround
If VXL is built the first time around already with VGUI_ON, this erros goes away.
This is bad, though,

[2017-01-20 15:26] rfabbri commented on #367
This bug can be reproduced on both Mac OS and Ubuntu with no distinction. It was working on my Mac because I had VGUI from the start. I updated the above text to reflect this.

[2017-01-20 17:48] dstoup commented on #367
Thanks for reporting, Ricardo. I will try to take a look at this issue next
week (unless someone else gets to it sooner :).

-Dave

On Fri, Jan 20, 2017 at 10:26 AM, Ricardo Fabbri <notifications@github.com>
wrote:

--
David Stoup
R&D Engineer

Kitware, Inc.
28 Corporate Drive
Clifton Park, NY. 12065
518-881-4949 (W)
518-312-3946 (M)
518-371-4573 (F)

[2017-03-05 23:41] rfabbri opened #384 "VGUI not finding GTKGL"
I've been trying to compile VGUI with a number of GUI backends on Ubuntu 14.04, 16.04 and Mac OSX.

I could get the QT backend to build (it seems to be the current VXL standard, is that right?).
However, some projects rely on the GTK2 backend,  but the current vgui CMAKE fails to work with the above distros (from the git log, it looks like it was made to work with pre 2011 distros).

The problem i

[2017-03-06 18:59] rfabbri commented on #384
waiting for pull request #385 to be merged to close the issue

[2017-04-25 04:12] dxqxiaoqiang commented on #265
hello i meet with the same question as you.Could you tell me how you solve this in detail? @minzhee

[2017-04-25 13:40] dxqxiaoqiang opened #388 "vidl"
when I compile Probabilistic-Volumetric-3D-Reconstruction I meet with the  follow errors :
../../../lib/libvidl.a(vidl_ffmpeg_istream.cxx.o): In function `vidl_ffmpeg_istream::open(std::string const&)':
vidl_ffmpeg_istream.cxx:(.text+0x3d5): undefined reference to `av_frame_alloc'
../../../lib/libvidl.a(vidl_ffmpeg_ostream.cxx.o): In function `vidl_ffmpeg_ostream::close()':
vidl_ffmpeg_ostream.cxx

[2017-07-03 14:53] rfabbri opened #398 "VGUI: double-buffered overlays not working on Mac OS"
How to reproduce this bug:

- compile VGUI under Mac OS using Qt 4
- run `vxl-bin/bin/basic10a_rubberband`
- if you resize by Command-Right-click or Left-Click, everything is ok
- if you choose menu

I've tested VGUI
double buffering under Mac OS El Capitan

[2017-07-03 14:57] rfabbri commented on #398
Investigation info:
- It seems that a single call to `post_overlay_redraw()` screws up everything completely.
- I've confirmed with two people using Linux that they don't see this bug.

[2017-07-04 20:35] rfabbri opened #400 "VGUI: Mac OS and GTK2 crash"
(I'm writing this issue for documentation purposes - I've solved it)

Depending on how you compile vgui with GTK2 support,
a vgui example such as `basic_app` crashes with a segfault, yielding these messages:

[code]

This was tested under Mac OS El Capitan, with gtk2 installed with homebrew per these instructions:
http://wiki.nosdigitais.teia.org.br/VXL#vgui:_2
And VXL compiled with the standard A

[2017-07-04 20:44] rfabbri commented on #400
The problem was that, for some reason, the x11 backend was being used for GTK2.
The solution is to build GTK2 using only Quartz backend. You need to make sure no GTK*LIBRARY in CMake lists any `gdk*x11*dylib` or `gtk*x11*dylib`, but only `gtk*quartz*` and similar variants.

The way to accomplished that (which might be overkill) was to disable QT, X11, and GLUT backends,
and to use the latest CMake

[2017-07-04 20:44] #400 closed

[2017-07-04 20:52] rfabbri opened #401 "VGUI: GTK2 menus are invisible in Mac OS"
When I compile VGUI using GTK2 on Mac OS El Capitan,
the menus look invisible (black), but are clickable.

# How to reproduce it
Just run basic_app or any other example

This was tested under Mac OS El Capitan, with gtk2 installed with homebrew per these instructions:
http://wiki.nosdigitais.teia.org.br/VXL#vgui:_2
And VXL compiled with the standard Apple toolchain and GTK2 Quartz backend (no X11)

[2017-07-05 22:10] zahidmak opened #402 "The C++ Standard Library forbids macroizing keywords. Enable warning C4005 to find the forbidden macro."
I am getting following two error while compiling vxl-1.14.0 in Visual Studio 2015 Enterprise.

Do you know what is causing this error and what can I do to prevent it. Thanks in advance.

[code]

Thank you,
Zahid

[2017-07-06 02:38] rfabbri commented on #398
Doesn't work for GTK2 either, although the problem is less severe. Sticking with GTK2 on Mac OS for the time being.

[2017-10-31 15:43] kensully opened #411 "undefined reference to symbol 'lzma_code@@XZ_5.0'"
I am on Ubuntu 16.04 32 bit platform. I cloned this repository, created `build` folder in `vxl` directory and ran `cmake ..` then `make`. I don't know if I followed the required steps for my distro, there is no build document. It failed with the following error:

      [ 33%] Built target vidl_v4l2_example
      [ 33%] Linking CXX executable ../../../bin/vidl_transcode_video
      /usr/bin/ld.bfd.

[2017-10-31 20:14] decrispell commented on #411
I don't know anything about this particular issue, but I know there have been problems with ffmpeg / libav incompatibilities in the past.

If you don't need video processing capabilities,  you could try building with WITH_FFMPEG set to FALSE.  You can set it via the cmake gui or on the cmake command line via -DWITH_FFMPEG=FALSE   (See #156 for reference).

[2017-10-31 20:53] kensully commented on #411
@decrispell  thank you for the reply. I ll use this library to compile `https://sourceforge.net/projects/opengazer/` ,  would disabling `ffmpeg` make it useless?

[2017-11-01 01:11] decrispell commented on #411
I don't know anything about how that project uses vxl.  Worth a try, I'd say.

[2017-11-08 16:20] decrispell commented on #411
@kensully Any luck with this?

[2017-11-08 17:39] kensully commented on #411
@decrispell I just  compiled `vxl` with ` -DWITH_FFMPEG=FALSE` I ll report the result soon.

[2017-11-08 18:09] kensully commented on #411
I tried to build `opengazer` with `vxl`, I get compilation errors such as:
     utils.h: In function ‘std::ostream& operator<<(std::ostream&, const std::vector<T>&)’:
utils.h:38:14: error: expected ‘;’ before ‘iter’
     xforeach(iter, vec)

 it seems `opengazer` is outdated and not compatible with latest `vxl` library. I also found out that Ubuntu already has `vxl 1.17` library in its repository.

[2017-11-22 08:44] fgsalomon opened #413 "Is it possible to compile vxl for Android?"
Hello,

I'd like to know if it's possible to compile vxl for Android. Based on [this](https://sourceforge.net/p/vxl/mailman/message/30334150/) it looks like it is but it doesn't point to a branch or indicates the instructions one must follow.

Thanks.

[2017-11-22 10:19] fgsalomon commented on #413
I tried using an Android toolchain with cmake (armeabi-v7a) but it gave some `TRY_RUN` errors like in [here](https://stackoverflow.com/questions/12632506/the-error-about-transplantation-vxl-to-android). I tried  setting those variables to `FALSE`/`TRUE`  but probably this is not correct because running `make` on the generated Makefile fails:

[code]

because `vxl_uint_32 ` is not defined. My gener

[2017-11-23 16:02] fgsalomon commented on #413
My bad. I was able to compile it using the master branch (previously I was trying to use the code from sourceforge).
Sorry for the inconvenience.

[2017-11-23 16:02] #413 closed

[2017-11-28 15:22] #384 closed

[2018-01-06 20:53] #238 closed

[2018-01-06 20:54] #326 closed

[2018-01-15 15:59] hjmjohnson commented on #310
@hasnainv Can you make a pull request if this is still a problem?
I am closing this old issue assuming that it has been addressed.

[2018-01-15 15:59] #310 closed

[2018-01-15 16:02] hjmjohnson commented on #402
Zahid,  Can you provide a merge request that fixes this problem?  I do not have access to that compiler and cannot reproduce your problem.

I'm closing this issue for now.  If you provide a Merge request, we can reopen and address this.

[2018-01-15 16:02] #402 closed

[2018-01-15 16:03] hjmjohnson commented on #367
@dstoup ⏰   Just reviewing VXL issues.

[2018-01-15 16:04] hjmjohnson commented on #357
@lood339 This is currently not possible with VXL.

[2018-01-15 16:04] #357 closed

[2018-01-15 16:51] hjmjohnson commented on #411
It seems that alternate solution was found for VXL.

[2018-01-15 16:51] #411 closed

[2018-01-15 20:56] #355 closed

[2018-01-21 16:32] hjmjohnson commented on #328
This has been addressed now.

[2018-01-21 16:32] #328 closed

[2018-02-10 19:43] andyneff commented on #341
Closed by #441

[2018-02-10 19:43] #341 closed

[2018-02-10 20:27] yidongVSI commented on #80
The issue is solved on both Windows and Linux.  Will close once test on Mac go through

[2018-02-11 00:05] #71 closed

[2018-02-11 00:06] #54 closed

[2018-02-12 19:05] andyneff commented on #53
@dstoup We have been looking into redesigning how we [call vxl from python](https://github.com/visionsystemsinc/pyvxl) using pybind11, which would result in completely deprecating the current BRL python bindings. It is still in the early phase, as we haven't even come up with out to integrate it in/with vxl yet, but to address your Python.h concerns.

1. For windows, we find that compiling in "Rel

[2018-02-24 15:14] hjmjohnson opened #452 "Very long running test: vpgl_algo_test_bundle_adjust"
@decrispell

David,

This test in the vpgl suite takes about 87% of all the test timings.

386/386 Test #370: vpgl_algo_test_bundle_adjust ......................   Passed   87.06 sec
Total Test time (real) = 102.56 sec

core/vpgl/algo/tests/test_bundle_adjust.cxx

Could you take a quick look to see if it would be easy to reduce that time?

A quick review seems like perhaps it is doing millions of

[2018-02-27 14:51] decrispell commented on #452
I don't see anything obviously bad like you describe, but the tests do take more than a couple of seconds to complete.  I'll take a look to see if there's anything that can be done to speed them up without losing functionality.

[2018-02-27 14:56] hjmjohnson commented on #452
@decrispell Thinking about this a bit more, perhaps the problem is that I am running parallel ctest and the test dependancies are causing these two to fail.

Could you take a quick look and see if the inputs to this test require the outputs of another test.?

I was getting timeout failures at 1500 seconds.

[2018-02-28 21:31] hjmjohnson opened #458 "SSE code is failing on Mac and Linux\"
See #456

Disabling VNL_CONFIG_ENABLE_SSE2 as a valid option

Many tests are failing (and failing inconsistently from run to run).

My guess is that the test pass when alignment happens to be correct and fails otherwise.

@thewtex

[2018-03-02 21:09] decrispell commented on #452
@hjmjohnson No, I don't see anything like that.   There are some calls to a non-linear optimizer that take some time (couple of seconds each on my laptop) to converge, but 1500 seconds sounds pretty extreme.  Was the system under intense load when this happened?

[2018-03-02 21:12] hjmjohnson commented on #452
No. 

ctest -j 4. And nothing else.

Let’s let this be for now perhaps this was a false alarm.    Now that other failures are cleared up, it should be easier to isolate if a problem is real.

Hans

From: "notifications@github.com" <notifications@github.com>
Reply-To: vxl/vxl <reply@reply.github.com>
Date: Friday, March 2, 2018 at 3:09 PM
To: vxl/vxl <vxl@noreply.github.com>
Cc: Hans Johnson <hans.

[2018-03-07 11:00] jiapei100 opened #465 "OPENJPEG2 ERRORs?"
Hi, Prof. Tim Cootes:

It's me again... I happened to come across your libary on github today. Just wanna try it out, but failed to build... Sorry to trouble you again...

I'm using Ubuntu 16.04.4, and openjpeg-2.3 (downloaded from [http://www.openjpeg.org/](http://www.openjpeg.org/) and manually built ) .

However, I still met the following ERROR messages:

Any suggestions?

Cheers
Pei

[2018-03-07 15:47] TimCootes commented on #465
Try editting the CMakeCache.txt file (in your object/binary directory), changing:

VXL_FORCE_V3P_JPEG:BOOL=ON

That should force it to use JPG which comes with VXL (in the v3p subdirectory), which hopefully will be compatible.

Tim

Tim Cootes,  Professor of Computer Vision
Centre for Imaging Sciences,  Faculty of Biology Medicine and Health,
The University of Manchester, Manchester M13 9PT, UK
Te

[2018-03-08 06:19] jiapei100 commented on #465
Hi, Thank you Prof. Tim Cootes. ^_^

In my case, it is  **VXL_FORCE_V3P_OPENJPEG2:BOOL=ON** that makes some progress. However, in my case, there are still some other ERRORs. I've got to do:

1. WITH_FFMPEG:BOOL=OFF
If it's ON, I got the following ERROR message. (Sorry, I'm NOT using anything from repo, but manually build FFMPEG. )

[code]

2. VXL_USE_DCMTK:BOOL=OFF
Probably because my DCMTK is als

[2018-03-08 06:19] #465 closed

[2018-03-26 13:52] shomedas opened #466 "undefined reference to `vnl_nonlinear_minimizer"
While trying to compile a code(GoGMA) which uses VXL I get the following error.

[ 75%] Building CXX object CMakeFiles/gogma.dir/string_tokenizer.cpp.o
[ 87%] Building CXX object CMakeFiles/gogma.dir/svm.cpp.o
[100%] Linking CXX executable gogma
CMakeFiles/gogma.dir/gogma_generated_gogma.cu.o:(.rodata._ZTV10vnl_lbfgsb[_ZTV10vnl_lbfgsb]+0x28): undefined reference to `vnl_nonlinear_minimizer::is_a()

[2018-04-14 03:03] yurivict opened #473 "Build breaks withe clang-5: unknown type name 'opj_codec_t'; did you mean 'opj_poc_t'?"
Getting this on FreeBSD with rev. b437bbb:
[code]

[2018-04-14 17:04] hjmjohnson commented on #133
Resolved in ad793e93e22bf34622dfa850bb25c97f2885c95a

[2018-04-14 17:04] #133 closed

[2018-04-14 17:05] hjmjohnson commented on #166
Minimum cmake version is now 3.3.0, so this is no longer an issue.

[2018-04-14 17:05] #166 closed

[2018-04-14 17:06] #125 closed

[2018-04-14 17:08] hjmjohnson commented on #45
I think is is no longer relevant.

[2018-04-14 17:08] #45 closed

[2018-04-24 16:10] yidongVSI opened #477 "permission issue on default path to put rrel_export.h.tmp"
During CMake configuration, default path to copy rrel_export.h.tmp points to
/usr/local/include/vxl/contrib/rpl/rrel (Linux)
or
C://Program Files (x86)/vxl/include/rpl/rrel/

This cause configuration error due to permission to access these folders. Modify CMAKE_INSTALL_PREFIX could fix the issue but a permanent would be favored.

[2018-04-24 21:24] yidongVSI opened #478 "compile error on G++7.3.1"
Recent update on using std::nullptr #474 introduces bunch of compile error on gcc 7.3.1.  FYI, I have explicitly turned on -std=c++11.

Among all compile errors, one issue I found is
compiler is not happy about template function that `return VXL_NULLPTR `, such as `template <class T>
  T get_input` in `contrib/brl/bpro/bprb/bprb_func_process.h`

[2018-05-03 20:30] yidongVSI commented on #478
fixed.

[2018-05-03 20:30] #478 closed

[2018-05-11 08:33] PhoebeHui opened #480 "Failures when build with msvc + permissive- on windows"
This issue found when build ITK with permissive- by msvc on windows, could you help have a look?
The issue in
https://github.com/vxl/vxl/blob/master/config/cmake/config/vxl_platform_tests.cxx#L103
https://github.com/vxl/vxl/blob/master/config/cmake/config/vxl_platform_tests.cxx#L105

properly fix:
change
void function(int x, char *ptr = "foo");
to
void function(int x, const char *ptr = "foo");

Ch

[2018-05-16 09:50] shanshan0309 opened #482 "ITK failed to run 5 tests with MSVC"
Hello,

ITK failed to run 5 tests on Windows with VS2017 Update2. Could you please help take a look at this? Thank you!

**Repro steps:**
1. git clone http://itk.org/ITK.git D:\ITK\src
2. Open a VS 2017 x86 command prompt and browse to D:\ITK
3. set CL=/D_SILENCE_TR1_NAMESPACE_DEPRECATION_WARNING /permissive-
4. mkdir build_x86 && pushd build_x86
5. cmake -G "Visual Studio 15 2017" -DCMAKE_SYSTEM_

[2018-05-17 01:59] #482 closed

[2018-06-18 18:11] hmaarrfk opened #488 "New version number?"
I'm wondering if there are any plans for updating the version number?

I've been having trouble compiling things because I didn't notice that there seems to have been small changes that make the tagged version of 1.17.0 not really compatible with modern builds of InsightToolkit.

Even a minor version bump so that 1.17.1 matches the version that is bundled with InsightToolkit 4.13 would be nice!

[2018-07-05 19:00] jytime opened #491 "C2065 "VXL_NULLPTR": undeclared identifier"
Hi，here is an outsider of C++.
I am trying to compile a software which is based on VXL. http://yuhang.rsise.anu.edu.au/yuhang/code/SuperPB.zip

Its instruction for adding VXL is as below:
"
Launch the CMAKE GUI. Fill the first two textbox on the top as follows:
"where is the source code": the directory which contain the vxl files you just unzipped, e.g. "YOURPATH/vxl-1.14.0"
"where to build the bi

[2018-08-08 00:04] rfabbri commented on #367
Still happens, also with the new `BUILD_CORE_VIDEO`  + `WITH_FFMPEG` flags. If you first build without them, then with them, then I can't cmake my library that uses VXL anymore for the same reasons

[2018-08-08 00:59] rfabbri opened #497 "BRL: brip / brad cyclic dependency"
brl/bbas/brad depends on brl/bseg/brip  (this shouldn't occur - a bbas library should not depend on a bseg library)

brl/bseg/brip depends on brl/bseg/brad

See brip_ms_blob_detection.{cxx,h} which uses brad

Can someone sort this out?

[2018-08-08 01:03] rfabbri commented on #497
Solved.

bbas/brad was linking to brip, without actually using brip. so I removed it from the corresponding target_link_libraries

bseg/brip now links to brad

This bug was likely unseen by someone using static libraries and just compiling/fixing bugs in an adhoc manner. I use dynamic linking so the linker may be pickier. Will close this issue once a patch is incorporated.

[2018-08-16 06:34] PhoebeHui commented on #480
Any updates?

[2018-09-10 07:56] AboudFayad opened #500 "Error while doing make on MacOS"
I have been trying to build vxl on MacOS using cmake and then running make to use with ITK, but every time I do make the build, it fails, and I get the following error:
[code]

[2018-09-23 15:53] liuhanyao98 opened #501 "Should we update timestamp of the inferiors in unlink_inferior() function?"
In vtol_topology_object.cxx::unlink_inferior() , after unlink this object from its inferior's superior list, should we add a line of code to update timestamp of those inferiors also?

'inferior->touch();'

in vtol_topology_object.cxx::link_inferior(), this statement exists. I think maybe unlink_inferior() function misses this statement and this problem triggers bugs in our project.

[2018-10-20 16:16] #164 closed

[2018-10-20 16:17] hjmjohnson commented on #170
Closing due to inactivity.

[2018-10-20 16:17] #170 closed

[2018-10-20 16:18] hjmjohnson commented on #99
closing due to inactivity.

[2018-10-20 16:18] #99 closed

[2018-10-20 16:40] hjmjohnson commented on #458
@thewtex Matt you asked me to create and assign this to you (see https://github.com/vxl/vxl/pull/456)

I can not assign this to you.

I'm trying to clean the VXL issue tracker up a bit.

[2018-10-20 16:40] hjmjohnson commented on #458
Accidently closed.

[2018-10-20 16:41] hjmjohnson commented on #491
closing due to inactivity.  Unsure why this ocurred, but we can not reproduce.

[2018-10-20 16:41] #491 closed

[2018-10-20 16:51] hjmjohnson commented on #500
vxl version 1.14.0 was released in 2010.  That version is no longer under active development.  Please report on at least a recent version of vxl.

[2018-10-20 16:51] #500 closed

[2018-10-20 16:52] hjmjohnson commented on #488
New tagged version v1.18.0 provided on October 15th.

[2018-10-20 16:52] #488 closed

[2018-10-20 16:53] hjmjohnson commented on #452
closing, can not reproduce today.

[2018-10-20 16:53] #452 closed

[2018-10-20 17:15] hmaarrfk commented on #488
Thanks!

[2018-10-21 01:51] thewtex commented on #458
@hjmjohnson I do not have any permissions / access roles in the GitHub `vxl/vxl` repository, which is why you cannot assign this to me.

However, I think it is time for ITK to focus on moving past VNL, so I do not think this is something that I would work on anyway.

[2018-10-21 13:02] hjmjohnson commented on #458
+100!  Thanks.  I'll close this.

VXL has been upsetting me.  My primary motivation for working on VNL is to evolve it towards something that will be easier to replace.

[2018-10-21 13:02] #458 closed

[2018-10-21 13:48] hjmjohnson opened #508 "contrib BRL does not build with shared libs"
VXL can not be built with BRL turned on due to circular dependencies in the libraries.

 "brad_spectral_angle_mapper::compute_sam_img

 "brad_wv3_bands(std::__1::vector<float, std::__1::allocator<float> >&, std::__1::vector<float, std::__1::allocator<float> >&, int)", referenced from:
      brip_blob_connect_comp_bb(vil_image_view<float> const&, vil_image_view<bool> const&, vil_image_view<bool> co

[2018-10-21 13:49] hjmjohnson commented on #508
Additionally,
make[2]: *** No rule to make target `lib/libbil_algo.dylib', needed by `lib/libbrad.dylib'.  Stop.
make[1]: *** [contrib/brl/bbas/brad/CMakeFiles/brad.dir/all] Error 2

[2018-10-21 13:54] hjmjohnson commented on #508
@andyneff @ydong-vsi @yidongVSI

Andy and Yi,

The stability of compiling brl is a serious burden to maintaining VXL.

[2018-10-21 15:12] hjmjohnson commented on #508
related to #497   I wish I had seen #497 earlier, it would have saved me several hours of chasing this down trying to fix it.

[2018-10-21 15:14] hjmjohnson commented on #497
@rfabbri  Please see #508.  Is there any chance that this can be fixed soon?  I lost about 4 hours of work trying to figure this out.  In the end I just turned off building BRL.

[2018-10-21 15:16] hjmjohnson commented on #480
Which version of ITK are you using?  Does the very latest version of ITK have the same issue?

[2018-10-24 05:49] PhoebeHui commented on #480
We use the latest version of master branch from https://itk.org/gitweb?p=ITK.git;a=summary, the issue still exist.

[2018-10-24 12:46] hjmjohnson commented on #480
@PhoebeHui In the future if you provide a pull request it is likely to be reviewed and accepted much more quickly.

[2018-10-25 13:52] #480 closed

[2018-10-29 11:00] dstoup opened #515 "FFmpeg version 2.6.2 support broken"
Commit 05fd00f47fd12f79d06428e23b105cedd2c0030f broke support for FFmpeg version 2.6.2

[2018-10-29 18:36] dzenanz opened #517 "Close outdated issues"
There is 36 open issues right now. As some have been submitted quite some time ago, they might have been fixed or otherwise invalidated since.

[2018-10-29 18:37] dzenanz commented on #517
@hjmjohnson 2.0 RC1 might be a good time to do this?

[2018-10-29 21:54] hjmjohnson commented on #497
See https://github.com/vxl/vxl/pull/518 which resolves this issue.

[2018-10-29 22:30] #508 closed

[2018-10-29 22:31] hjmjohnson commented on #497
resolved.

[2018-10-29 22:31] #497 closed

[2018-10-30 14:44] hjmjohnson commented on #55
This issue does not seem to persist.  Perhaps it has been fixed already with the mentioned merge..

[2018-10-30 14:44] #55 closed

[2018-10-30 14:45] hjmjohnson commented on #80
Issue claims to be solved.

[2018-10-30 14:45] #80 closed

[2018-10-30 21:40] hjmjohnson commented on #30
Moved to C++11 support to hopefully make these concerns more consistent.

[2018-10-30 21:40] #30 closed

[2018-10-30 21:42] hjmjohnson commented on #91
resolved with constexpr in C++11.

[2018-10-30 21:42] #91 closed

[2018-10-30 21:54] hjmjohnson commented on #388
Unable to reproduce.

[2018-10-30 21:54] #388 closed

[2018-10-30 21:55] hjmjohnson commented on #501
Please make a pull request and reference this topic.

[2018-10-30 21:55] #501 closed

[2018-10-30 21:55] hjmjohnson commented on #466
Can not reproduce with the latest code base.

[2018-10-30 21:55] #466 closed

[2018-10-31 20:21] hjmjohnson opened #525 "Part of test failing when OpenCL is enabled."
contrib/brl/bbas/bocl/tests/test_global_io_bandwidth.cxx

#if 0 // This test is failing and corrupts the dashboard.
  if (test_single_thread_read_bandwidth_image(len,bandwidth))
    std::cout<<" test_single_thread_read_bandwidth_image "<<bandwidth<<std::endl;
  if (test_workgroup_coalesced_read_bandwidth_image(len,bandwidth))
    std::cout<<" test_workgroup_coalesced_read_bandwidth_image "<<bandwi

[2018-10-31 21:01] hjmjohnson opened #526 "BRL unresolved bug."
/Users/johnsonhj/src/vxl/contrib/brl/bbas/brad/brad_spectral_angle_mapper.cxx:354:24: warning: result of comparison of constant 255 with expression of type 'char' is always false
      [-Wtautological-constant-out-of-range-compare]
      if (c <= -1 || c >= 255) { // check if the file contains bad character

[2018-11-13 20:31] hjmjohnson opened #543 "rgrl_feature_set_bins.hxx warning"
@decrispell  Would you mind addressing this longstanding warning as well?

In file included from /Users/johnsonhj/src/vxl/contrib/rpl/rgrl/Templates/rgrl_feature_set_bins+2.cxx:1:
/Users/johnsonhj/src/vxl/contrib/rpl/rgrl/rgrl_feature_set_bins.hxx:50:29: warning: expression with side effects will be evaluated despite being used as an operand to 'typeid'
      [-Wpotentially-evaluated-expression]

[2018-11-14 17:05] hjmjohnson commented on #515
@dstoup Can you revert that patch.  There was also a discussion that some part of the community wants to abandon support for 2.6.2.

I don't really care, I don't need ffmpeg, but it seems like updating to only support a newer version might make sense for VXL 2.0.0.

Can you please comment for the community of users that need ffmpeg support, and identify who in that community could assist with gett

[2018-11-15 16:29] sanjayankur31 opened #550 "Does not build with new dcmtk: API changed"
In [this commit from 2009](https://git.dcmtk.org/?p=dcmtk.git;a=commit;h=15f4cd3c840f4e307d8037d05ec5d27eaad90b10), the declaration of the `DiInputPixelTemplate` function was changed. So, unless one uses the even older bundled version of dcmtk that vxl provides, one cannot build vxl with a native dcmtk installation that is up to date.

The current version of dcmtk is: [3.6.3 that was released this

[2018-11-15 17:37] sanjayankur31 commented on #550
Unfortunately I don't have experience with dcmtk and the related libraries, so it'll take me much longer to get to grips with this code than it would someone with some experience in the area.

I've put it on my list, but I don't expect to find the time/resources to give to this in the near future either. Leaving this open in case someone knowledgeable comes along to work on it.

[2018-11-20 18:10] hjmjohnson commented on #29
VXL 2.0.0 removed all these try-compile mechanisms.

[2018-11-20 18:10] #29 closed

[2018-11-27 15:47] bradking opened #555 "migrate vxl homepage to github"
Cc: @hjmjohnson

The http://vxl.sourceforge.net homepage is out of date and only a few people have access to update it (I'm one of them).  I propose that we migrate the VXL homepage to `vxl.github.io` by adding an appropriate GitHub Pages repository.

[2018-11-27 15:57] bradking commented on #555
I've created the [vxl.github.io repository](https://github.com/vxl/vxl.github.io) and populated it with the same history as the original [sf www repo](https://sourceforge.net/p/vxl/git-www/) (which can be cloned via [this url](https://git.code.sf.net/p/vxl/git-www).

Now the homepage content can be seen at https://vxl.github.io/.

It does need some updates.

[2018-11-27 15:58] bradking commented on #555
@hjmjohnson if you agree with this approach I can update the old site to just point to the new URL.

[2018-11-27 17:31] hjmjohnson commented on #555
@bradking This is GREAT!  Please do have the old site simply point to this new site.

[2018-11-27 17:32] hjmjohnson commented on #555
@bradking I'll make a pass over the web page in the next month (after classes end in 2 weeks) to update the content.

[2018-11-27 20:57] bradking commented on #555
@hjmjohnson great.  I've put the redirects in place from the original URLs.

[2018-11-30 08:55] SergiiPatar opened #565 "VXL 2.0.2 compilation error"
Hi,

I just downloaded the new release of VXL 2.0.2. I'm trying to build it, however, I obtain an error.

I use VS 2017 (15.9.3)
CMake 3.13.1
I tried both Win32 and Win64 bit compilations, and the error is the same.

Her is the error:

D:\ExternalLibs\v6\vxl\2.0.2\src\core\vsl/vsl_vector_io.hxx(115): error C2668: 'vsl_print_summary': ambiguous call to overloaded function (compiling source file D:\

[2018-11-30 10:48] hjmjohnson commented on #565
This was fixed yesterday:  https://github.com/vxl/vxl/pull/564

[2018-11-30 10:48] #565 closed

[2018-12-08 14:01] hjmjohnson commented on #555
@bradking overdue, but Thanks for this effort of continuing to move vxl from sourceforge to github.

[2018-12-08 14:01] #555 closed

[2018-12-13 11:42] ptrNine commented on #550
I fixed that, but I only got a temporary fix. In an amicable way, a lot of code in vil/file_formats which is responsible for loading dcm images should be rewritten. If it suits you I can make a pull request. When I will have more free time, I can do it for the full.

[2019-01-05 19:37] lood339 opened #570 "Option of building vxl in a single library file"
There is a line in the CMakeLists.txt in 2.0.2 version
option(VXL_BUILD_OBJECT_LIBRARIES "Build object libraries (to enable all in a single library)?" ON)
What does "to enable all in a single library" mean? I though the make file will generate a single library for the whole vxl (like vxl.a). But it does not.
Is there a way to generate a single library file for at least vxl/core? Otherwise, we have

[2019-01-06 02:06] lood339 opened #571 "linker in Mac 10.14.2"
There is a message "/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/ranlib: file: ../../../lib/libvil_io.a(vil_io_smart_ptr+vil_image_view_base-.cxx.o) has no symbols
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/ranlib: file: ../../../lib/libvil_io.a(vil_io_smart_ptr+vil_image_view_base-.cxx.o) has no symbols["
As a r

[2019-01-07 09:05] TimCootes commented on #570
Setting  VXL_BUILD_OBJECT_LIBRARIES to ON is one step in creating a single library containing all the bits of VXL that you need, which can then be included in other projects as a single object.

You have to create your own library listing which particular libraries you would like to include.
An example of doing this is shown in
core/examples/merge_libs
- See the documentation in core/examples/merg

[2019-01-07 09:17] TimCootes commented on #570
Note that this feature was added because we needed to create a single library containing image analysis functions that could easily be passed to a third party (as a .lib and a single .h with a simple API).
It was assumed that the caller would handle all the image loading/saving, which meant that there was no need to include any of the image IO functions in the VXL build.  This simplified things co

[2019-01-12 14:07] lood339 commented on #571
After some other tries, I turn off the vil library and only use vnl, vpgl, ...
CMAKE_DEPENDENT_OPTION( VXL_BUILD_CORE_IMAGING "Build VXL's imaging libraries" OFF "NOT VXL_BUILD_CORE_NUMERICS_ONLY" ON)

[2019-01-12 14:08] lood339 commented on #570
It is useful suggestion. I turn off the vil and use other library for image IO.

[2019-01-12 14:11] hjmjohnson commented on #571
@lood339 Can you please provide your exact command lines used to trigger this situation.

I can not reproduce this problem.   The "has no symbols"  is not an error, it is a warning.   I do not see the linker error.

[2019-01-14 01:12] rfabbri commented on #367
Still happens. I propose to remove the APPEND keyword here:
https://github.com/vxl/vxl/blob/0e2330ab0cda78dbf3c2e09811042689dfdf2348/config/cmake/export/VXLCreateProject.cmake#L30

It works, but why did someone think about putting APPEND there?

[2019-01-14 01:30] hjmjohnson commented on #367
@rfabbri Can you make a pull request with the change you want made?

https://github.com/vxl/vxl/commit/19e1a5b3409967534f4a461011f96db1535dd469

[2019-01-14 05:56] lood339 commented on #571
@hjmjohnson In my case, I update the mac os from 10.9 to 10.14. As a result, the system (related /usr/bin/ranlib) has some unknown problem. When compile vxl, it is a warning and I can still get the vil_io library. When the library is used in a xcode project, the project reports a linker error with vil_load. To solve this problem, I reinstall the Mac OS and turn off vil and vil_io. So I think the o

[2019-01-14 14:07] #367 closed

[2019-01-14 14:10] hjmjohnson commented on #571
"So I think the original linker problem is caused by the Mac OS not vxl itself."

@lood339 Thank you for the followup.  I'm closing this issue.  If you find that the problem is due to VXL, please make a pull request and we will  review and incorporate.

[2019-01-14 14:10] #571 closed

[2019-02-17 11:53] sanjayankur31 commented on #550
Hi @ptrNine : have you had a chance to work on this please?

[2019-04-17 23:29] Rastaban commented on #465
It looks like vxl is using the older version of the API that was deprecated and later removed from openjpeg in https://github.com/uclouvain/openjpeg/commit/7aece5e8e7d4214d140a45aca50a824ff8092924.

[2019-04-18 19:36] sanjayankur31 opened #624 "Consider using semantic versioning scheme"
Would it please be possible to version the shared objects that we can create from the vxl libraries? At the moment, all the so files are unversioned. This makes it harder for people to track API/ABI changes.

[code]

In the past, the Fedora maintainer has simply used the vxl release version as the soname version, but the API version and the software version do not necessarily need to match. I'd be

[2019-04-19 11:31] sanjayankur31 opened #627 "Update to use newer openjpeg2"
VXL does not build with newer versions of openjpeg2. As also noted here: https://github.com/vxl/vxl/issues/465#issuecomment-484298900

With libopenjpeg2-2.3, one gets errors of this type:

[code]

The current work around is to use the bundled version, but it would be nice to keep the code up to date with latest APIs. Opening this as a tracker ticket. Complete build log attached:
[vxl-openjpeg-2.3.

[2019-04-19 13:11] hjmjohnson commented on #627
We would welcome a pull requests that addresses this issue.  Given very limited resources for VXL, changes like this are unlikely to occur without community support.

[2019-04-19 17:22] sanjayankur31 commented on #97
Sorry for bumping this old ticket but I'm still trying to get my head around how an automated time stamp functions as an API/ABI version. The nightly commit gives no information at all about such a change. All it says is that "this is the vxl version in use", and that really can be done using git commit data---it's what it is for.

There are many solutions of ensuring that a project is correctly l

[2019-05-17 19:49] sanjayankur31 opened #638 "Build failures on 32 bit architectures"
While building the package on Fedora rawhide (that will become 31), we're seeing build failures on the 32 bit arches. I've not investigated them all completely just yet. Perhaps someone better acquainted with the code would have a clue?

- Fedora build: https://koji.fedoraproject.org/koji/taskinfo?taskID=34897755
- i686 build failure: https://koji.fedoraproject.org/koji/taskinfo?taskID=34897775
-

[2019-05-19 18:49] sanjayankur31 commented on #638
The relevant bits are:

[code]

[2019-05-22 12:09] jonarbo opened #639 "VXL 2.0.2 build failure Centos7, gcc-4.8.5, Cmake 3.13.4"
HI,

I'm doing:

cmake3 $VXLSRC -DCMAKE_INSTALL_PREFIX=/usr/pubsw/packages/vxl/current
make && make install

the cmake goes OK, the make fails:

[ 47%] Built target vgl_test_template_include
[ 47%] Built target vgl_test_include
[ 49%] Built target vgl_test_all
[ 49%] Building CXX object core/vil/CMakeFiles/vil.dir/file_formats/vil_dicom.cxx.o
In file included from /scratch/apps/singularity-sandbox

[2019-05-24 16:13] scottsorensenvision opened #640 "Integer types in VGL"
There is an integer instantiation for many class templates and functions that may not make sense. For example vgl_distance is defined for many geometric objects and is not treated differently for integers. Many of the methods rely on the square root etc. vgl_intersection only instantiates certain functions which are deemed valid for integer operations. These are exclusively used for functions rela

[2019-05-27 08:06] cenit commented on #627
@sanjayankur31 are you working on this issue? Because I am in the same situation, and in that case I'd like to share effort and not replicate anything already done

[2019-05-27 08:21] sanjayankur31 commented on #627
@cenit : I've not had the time to start working on this yet. Please take it up if you can :+1:

[2019-05-27 09:00] cenit commented on #627
it will take some time, I hope not too much. I will let you know :)

[2019-05-27 16:17] sanjayankur31 commented on #624
@bradking  @hjmjohnson @andyneff @decrispell : could we stop the nightly timestamp bot now that we've begun versioning the shared objects? (The nightly commits make it exceptionally hard to follow code changes)

[2019-05-28 10:18] sanjayankur31 commented on #638
This is fixed in c3fd27959f51e0469a7a6075e975f245ac306f3d already. Using a commit patch until a new release with the fix is made.

[2019-05-28 10:18] #638 closed

[2019-05-28 13:02] decrispell commented on #624
I'm in favor of removing the nightly timestamp, with the caveat that I don't think it's realistic to expect the semantic version numbers to updated every time an API in contrib changes.  Is it reasonable to enforce the version bumps on core only?

[2019-05-28 13:25] sanjayankur31 commented on #624
I'm not well versed enough with the development model here. Don't the contrib maintainers also have to maintain API/ABI stability or inform users when it changes?

[2019-05-28 13:44] decrispell commented on #624
At least for contrib/brl, the contents tend to be pretty specific research code, meaning the "developers" and "users" are usually the same people.   If a chunk of code turns out to be more generally useful, it can be promoted to core.  In cases where vxl is being used by another piece of software, we typically use git submodules to ensure compatibility.

[2019-05-28 13:49] bradking commented on #624
I've turned off the bot.

[2019-05-28 13:59] hjmjohnson commented on #624
@bradking Thank you.
@decrispell I agree,  I will make a GitHub PR template that reminds users to increment the API when the core API changes.  Would you be able to provide a good description of when that needs to be done?

[2019-05-28 14:03] sanjayankur31 commented on #624
OK---that makes sense.

Could this be documented somewhere though? Maybe a README.md in the contrib folders that are meant to be experimental, and not stable?

[2019-08-17 14:30] N-Dekker opened #663 "Undefined behavior vnl_bignum(INT_MIN) and vnl_bignum(LONG_MIN)"
### Description

An attempt to construct `vnl_bignum(INT_MIN)` or `vnl_bignum(LONG_MIN)` appears to yield undefined behavior (an assert failure, a crash, or an incorrect result).

### Steps to Reproduce

The following test was added to test_bignum `run_constructor_tests()`, with pull request https://github.com/vxl/vxl/pull/662

    {vnl_bignum b(LONG_MIN); TEST("vnl_bignum b(LONG_MIN);", b, LONG_M

[2019-08-17 21:17] N-Dekker commented on #663
Fixed by pull request #662

[2019-08-17 21:17] #663 closed

[2019-08-17 21:58] N-Dekker opened #664 "vnl_rational should have same size on all platforms"
### Description

The numerator and the denominator of `vnl_rational` are defined as `long` integers: https://github.com/vxl/vxl/blob/v2.0.2/core/vnl/vnl_rational.h#L76

On Linux, `long` is usually 64 bits, whereas on Windows (using MSVC), a `long` is typically only 32 bits. This may lead to different results, when a calculation that depend on `vnl_rational` is performed both on Windows and Linux.

[2019-08-22 19:43] N-Dekker commented on #664
Fixed by pull request #665 (ENH: Fix issue #664: vnl_rational numerator, denominator both int64_t), merged to the master branch by Hans @hjmjohnson commit 9f4685c03a5c935993bc09a8517415f2d6ce5330

[2019-08-22 19:43] #664 closed

[2019-09-24 13:13] decrispell opened #681 "protect master branch"
I believe we should prevent direct pushes to the master branch and require changes to pass through pull requests.  This should be possible via github's "protected branches" feature.

Even if the PR is "self-merged", it at least gives the integration tests a chance to run, and sends a notification to the "watchers" of the repository.

[2019-09-24 13:56] hjmjohnson commented on #681
@bradking @thewtex I do not have permissions to protect the master branch.  This is a great idea.  Could one of you please coordinate the protection of the master branch on github?

[2019-09-24 16:50] bradking commented on #681
I've enabled "Require status checks to pass before merging" on the `master` branch and marked the `continuous-integration/travis-ci` check as required.

[2019-11-05 08:33] JackBoosY commented on #627
Any progress?

[2019-11-20 20:40] dzenanz commented on #639
Does #722 fix this?

[2019-12-10 19:46] mundyj opened #734 "Problem with strings.h on VS2019"
### Description

### Steps to Reproduce

### Expected behavior

geotiff should compile on visual studio
### Actual behavior
D:\software\terra_dsm\external\vxl\v3p\geotiff\cpl_serv.h(45,12): fatal error C1083: Cannot open include file: 'strings.h': No such file or directory

[code]

### Reproducibility

100% since strings.h is not available
### Versions
After pull request 725

### Environment
Windo

[2019-12-10 19:50] #681 closed

[2020-01-14 20:20] brad-t-moore opened #743 "https://vxl.github.io package/book documentation fails to load"
### Description

None of the documentation links at https://vxl.github.io/ load.
The VXL book links hosted at Kitware return 404 errors.
The package documentation at Kitware returns a 404, the Brown and Manchester links timeout.

### Expected information

The links should work or the links should be removed.

### Actual information

https://public.kitware.com/vxl/doc/release/index.html (returns 40

[2020-01-17 19:48] chart3388 opened #745 "build error gcc-4.8.5 on SLES 12 - vpgl_rational_camera.h"
Hi,

I encountered a problem building the latest master of VXL on SLES 12 using native gcc-4.8.5.  The error was:

[code]

Simply adding the missing {} to the initializer_list fixed the issue:

[code]
Also tested against ubuntu 16 with gcc 5.4 and Windows 10 with MSCV 15.9.18
Thanks

[2020-02-09 19:02] #745 closed

[2020-02-13 21:22] hjmjohnson commented on #639
I think this issue was resolved with #722

[2020-02-13 21:22] #639 closed

[2020-02-13 21:22] hjmjohnson commented on #743
@brad-t-moore Has this issue been resolved?

[2020-02-13 21:24] hjmjohnson commented on #627
@JackBoosY @sanjayankur31 Will any more work be done to address this issue?

[2020-02-13 21:25] hjmjohnson commented on #624
I think all the issues have been addressed.

[2020-02-13 21:25] #624 closed

[2020-02-13 21:27] hjmjohnson commented on #473
Can not replicate.  pull requests welcome if this is still an issue.

[2020-02-13 21:27] #473 closed

[2020-02-13 21:27] hjmjohnson commented on #349
Pull requests welcome if this is still an issue.

[2020-02-13 21:27] #349 closed

[2020-02-13 22:21] sanjayankur31 commented on #627
I'm not looking into it, and won't be able to for some time. @cenit, any chance you found time to look at it?

[2020-02-13 23:08] brad-t-moore commented on #743
Yes, thank you!

[2020-02-13 23:08] #743 closed

[2020-02-13 23:13] cenit commented on #627
it was more difficult than expected and had to do other work in the meantime. Sorry for not progressing on this front

[2020-02-13 23:34] hjmjohnson commented on #627
Closing due to lack of support.

[2020-02-13 23:34] #627 closed

[2020-02-14 06:58] yurivict opened #752 "Please define a license"

[2020-02-14 08:09] hjmjohnson commented on #752
This should be improved.  For now please see https://github.com/vxl/vxl/blob/master/core/vxl_copyright.h

[2020-02-14 08:10] hjmjohnson commented on #752
We should consider adding a LICENSE.md file at the root of the directory.

[2020-02-14 09:27] sanjayankur31 commented on #627
That's unfortunate. Perhaps VXL could look at GSoC and so on (if not doing that already) to get more volunteers involved, especially to carry out this type of task?

Community members can help with smaller tasks, but expecting them to carry out such large migrations to new APIs is not very realistic IMO (we all also have our dayjobs and research and so on to do and it is rare for VXL to be our pri

[2020-02-14 13:30] hjmjohnson commented on #627
@sanjayankur31 FYI:  There is no "VXL" team or "VXL" organization.  It is 100% community-driven.  The only work being done on VXL is driven by features/improvements contributed by kind folks like you.

[2020-02-14 14:36] sanjayankur31 commented on #627
Ah? I was under the impression that there is at least a core team that maintains it and decides on the future direction of the project?

Community driven projects do not survive merely on drive-by contributions like ours.  A core team needs to keep things ticking. If there isn't a core dev team, perhaps it is worth looking into forming one.

[2020-02-14 16:31] hjmjohnson commented on #627
I would LOVE to have someone volunteer to be part of the core team!  The most active members are all in the same situation that you describe "(we all also have our dayjobs and research and so on to do and it is rare for VXL to be our primary focus)".

[2020-02-15 12:26] sanjayankur31 commented on #627
Ah, in that case an issue to form a core-team would be worth a try for a start maybe? There are no guarantees, of course, but quite a few other projects have done this and managed to gather enough volunteers to form a team.

[2020-02-23 17:53] yurivict opened #761 "The SSE2 detection fails on i386"
[code]

http://beefy17.nyi.freebsd.org/data/head-i386-default/p526741_s358237/logs/vxl-2.0.2.629.log (IPv6 URL)

FreeBSD 13 i386

[2020-02-23 18:09] hjmjohnson commented on #761
This is a longstanding problem.  Any help in fixing this issue would be greatly appreciated.  It is unlikely to get fixed without someone in the community providing a fix.

[2020-03-26 19:12] yurivict opened #768 "Fails to build when dcmtk-3.6.5 is present: fatal error: 'dcistrma.h' file not found"
[code]

vxl-2.0.2-682
clang-8
FreeBSD 12

--------

Also, cmake complains when dcmtk isn't found: http://beefy10.nyi.freebsd.org/data/113i386-default/529158/logs/vxl-2.0.2.629.log

[code]

[2020-03-26 19:21] yurivict opened #769 "error: allocating an object of abstract class type 'vil_dicom_stream_factory'"
[code]

vxl-2.0.2-682-g9b4d7496d4
clang-8
FreeBSD 12

[2020-04-24 18:56] jmon12 opened #775 "vnl_matrix_fixed operator() implementation: .hxx include necessary"
### Description

#### TLDR

To use `vnl_matrix_fixed<double, u1, u2>::operator()`, the user has to include the `vnl_matrix_fixed.hxx` implementation file, not only the `vnl_matrix_fixed.h` header.

#### Context

I'm currently migrating from vxl-1.18.0 to vxl-2.0.2. After some very minor tweaks of my code (great job by the way, very smooth migration), the linking fails.

After some investigation, o

[2020-04-25 17:23] hjmjohnson commented on #775
@jmon12 see #776 for fix.

[2020-04-25 18:25] #775 closed

[2020-04-25 18:32] hjmjohnson commented on #21
There are relatively few of these in the `core` directory

[code]

[2020-04-25 20:44] jmon12 commented on #775
Thank you!

[2020-05-13 01:56] medakk opened #778 "Multiply matrices into an existing buffer"
A is a shared_ptr<vnl_matrix>, B is a vnl_matrix, C is a vnl_matrix, all of the vnl_matrix library
I have code like:

[code]

This seems to be causing an extra allocation, which is many gigabytes in my case. How do I multiply the two matrices and directly place the result in A's buffer? Given A's buffer has the correct size.

I'm looking for something like `A->replace_with_product_of(B, C);`

[2020-05-13 16:46] medakk commented on #778
This function solves my problem:

[code]

[2020-05-14 14:37] medakk commented on #778
A faster solution was to map into Eigen, which supports this sort of operation:

[code]

The trick is using `.noalias()`, which tells Eigen that the output matrix doesn't appear in the input, so its safe to write it directly there.

[2020-06-11 15:19] HelliceSaouli commented on #768
any luck i have the same problem here

[2020-06-29 13:55] decrispell opened #789 "Travis status missing from PRs"
Any VXL maintainers have any idea why Travis CI testing status no longer shows up in vxl PRs?  The tests themselves still appear to be running.  For example, here's one for a recent PR #788 :
https://travis-ci.org/github/vxl/vxl/builds/702682921

[2020-07-08 13:39] badshah400 commented on #752
There are files in the netlib dir that are inconsistent with the above licence.  Specifically,

* v3p/netlib/triangle.c:
[code]
* v3p/netlib/examples/showme.processed.c (same licensing terms as in 1 above)
* v3p/netlib/triangle.README
[code]

We are trying to get the latest version of ITK (v 5.1.0), which includes vxl in its sources, into the openSUSE distribution and our legal help flagged this (

[2020-08-03 16:56] zeripath commented on #768
The below appear to get rid of the initial problem:

[code]

[2020-08-03 16:56] zeripath commented on #768
However I then get:
[code]

[2020-09-24 20:40] yurivict opened #795 "Please add -msse2 on i386 architectures"
vxl depends on SSE2 but it isn't enabled by default on i386.
See the failure log: http://beefy10.nyi.freebsd.org/data/113i386-default/549877/logs/vxl-2.0.2.629.log

[2020-09-24 20:56] yurivict commented on #795
Actually, this should be done in the ITK project.

https://github.com/InsightSoftwareConsortium/ITK/issues/2011

[2020-09-24 21:44] hjmjohnson commented on #795
Is this a duplicate of #761 ?

[2020-09-24 21:57] yurivict commented on #795
I think so, this is because it has never been fixed.

[2020-09-24 22:00] yurivict commented on #761
Something like
[code]
should do.

[2020-09-24 22:01] #795 closed

[2020-09-25 01:04] hjmjohnson commented on #761
@yurivict I don't think it is a good idea to automatically set values like this. VXL does not 'require' sse2 to work, but if chosen, or specified, it should take advantage of the feature.

I've made an update to make the implementation a bit cleaner, and now require the developer to request the compiler features desired.

Would you mind seeing if the current master branch solves your issues?  It s

[2020-09-25 01:09] yurivict commented on #761
I am not able to build on i386 on demand because of the cost of setting up VMs.
But I will provide feedback in case the next release fails.

[2020-10-07 00:36] phcerdan opened #801 "Install tree does not install headers"
No headers can be found in the install tree other than:
![image](https://user-images.githubusercontent.com/3021667/95274133-48147d00-0845-11eb-89c4-8051056654a8.png)

This has been introduced by the recent refactor of CMake files by @drewgilliam. Using the commit just before those changes the headers are installed.

Reported in ITK: https://github.com/InsightSoftwareConsortium/ITK/pull/2034

[2020-10-07 13:59] drewgilliam commented on #801
Fixed with PR #802

[2020-10-07 14:04] #801 closed

[2020-10-07 14:40] phcerdan commented on #801
That was fast, thanks @drewgilliam

[2020-12-04 11:19] jpeter42 opened #815 "Build error dcistrma.h: No such file or directory"
### Description

### Steps to Reproduce

### Expected behavior

### Actual behavior

[code]

### Reproducibility

### Versions

### Environment

### Additional Information

[2020-12-04 11:22] jpeter42 commented on #815
I get the following Build errors:

In file included from /home/jpeter/opt/vxl/core/vil/file_formats/vil_dicom_stream.cxx:5:
/home/jpeter/opt/vxl/core/vil/file_formats/vil_dicom_stream.h:7:10: fatal error: dcistrma.h: No such file or directory

/home/jpeter/opt/vxl/core/vil/file_formats/vil_dicom.cxx:30:12: fatal error: dcfilefo.h: No such file or directory

[2020-12-04 11:22] #815 closed

[2020-12-04 11:26] jpeter42 opened #816 "Build errors dcistrma.h, dcfilefo.h"
I get the following Build errors:

In file included from .../vxl/core/vil/file_formats/vil_dicom_stream.cxx:5:

.../vxl/core/vil/file_formats/vil_dicom_stream.h:7:10: fatal error: dcistrma.h: No such file or directory

.../vxl/core/vil/file_formats/vil_dicom.cxx:30:12: fatal error: dcfilefo.h: No such file or directory

[2021-03-12 01:53] Leengit opened #828 "The value of sqrt(2π) is wrong"
### Description
The value of sqrt(2π) is wrong.

### Expected behavior
core/vnl/vnl_math.h:113 should be
[code]
See http://oeis.org/A019727/constant or compute it yourself with a high-precision calculator.

This value converted to double precision is 5,644,425,081,792,262×2^(-51) and is about 1.83e-16 larger than the exact value of sqrt(2π), which is approximately 5,644,425,081,792,261.587×2^(-51)

[2021-03-15 18:55] dzenanz commented on #828
How did you discover this?

[2021-03-15 19:09] Leengit commented on #828
I discovered that R would give me these mathematical values to arbitrary precision so I thought to try 50 digits of precision and zero tolerance for error in the `TEST_CONSTANT` macro of the ITK version of the `test_math.cxx` file.  Despite that some of the constants were not correctly represented as decimals in `vnl_math.h`, only `sqrt2pi` failed the newly stringent test.  (The other "wrong" deci

[2021-03-30 17:30] dzenanz commented on #828
I think this can now be closed.

[2021-03-30 17:35] #828 closed

[2021-05-05 11:30] drewgilliam opened #837 "migrate to travis-ci.com"
travis-ci.org will be shutting down very soon.  Can someone with the right permissions migrate CI to travis-ci.com?
https://docs.travis-ci.com/user/migrate/open-source-repository-migration

@hjmjohnson @decrispell

[2021-05-13 15:51] decrispell commented on #837
I tried to do this, but it appears I don't have the proper permissions.  I believe it requires an "owner" (@mleotta, @bradking).

[2021-05-13 16:54] bradking commented on #837
I approved the updated TravisCI integration.

[2021-06-02 20:40] dzenanz opened #843 "error C2668: 'fpclassify': ambiguous call to overloaded function"
### Description

Current master fails to compile with Visual Studio 2019 version 16.10.0.

### Steps to Reproduce

1. git clone
2. Configure using CMake's default options
3. Build in Visual Studio

### Expected behavior

The project should compile without errors.

### Actual behavior

[code]
### Reproducibility

100%

### Versions

Current master, which is also tagged as 3.3.0.

### Environment

T

[2021-06-21 19:25] drewgilliam commented on #837
I don't believe the migration to travis-ci.com was completed?  PRs are not building, travis-ci.org is officially depreciated

https://travis-ci.org/github/vxl/vxl
![image](https://user-images.githubusercontent.com/17988826/122816338-97e88680-d2a4-11eb-887f-b78fef5f1519.png)

https://travis-ci.com/github/vxl/vxl
<img src="https://user-images.githubusercontent.com/17988826/122816406-acc51a00-d2a4-11

[2021-06-21 19:50] decrispell commented on #837
It appears some more action from a vxl admin is still required.  If I go here:  https://travis-ci.com/organizations/vxl/migrate,  I cannot select vxl until the vxl organization signs up for beta (green button on bottom).

![image](https://user-images.githubusercontent.com/1390275/122818916-c156e180-d2a7-11eb-9c27-50f041402e12.png)

[2021-06-22 02:33] mleotta commented on #837
@decrispell I think what was missing was signing up for the free plan, which I've just done.  I think it should work now.  However, the new Travis-CI is much less open source friendly than it used to be.  There are a limited number of "credits" per month we get for free to run CI jobs and if you use them up your CI stops.  Open source projects can request additional free credits, but only if the p

[2021-06-22 13:34] decrispell commented on #837
Thanks - As far as I can tell, vxl was not actually migrated to travis-ci.com, though.  I still see the same screen as above.

[2021-06-22 13:40] bradking commented on #837
I just ran the migration.

[2021-06-22 14:11] decrispell commented on #837
Thanks @bradking @mleotta !  Looks like its working now.

[2021-06-22 14:11] #837 closed

[2021-08-02 15:50] decrispell commented on #843
fixed via #852

[2021-08-02 15:50] #843 closed

[2021-08-02 16:07] decrispell commented on #789
working again now.

[2021-08-02 16:07] #789 closed

[2021-08-31 01:04] decrispell opened #855 "time to drop TravisCI?"
We exceeded our TravisCI monthly compute budget , so CI tests are once again no longer running on VXL pull requests.  I'd like to give CircleCI a shot - It appears to have more generous compute allowances for open source projects, and we use it internally at VSI.

Could a vxl "owner" please bestow me with admin permissions needed to set this up?

[2021-08-31 19:05] hjmjohnson commented on #855
@bradking   Could you please pass this information along?

[2021-09-02 14:54] bradking commented on #855
I see CircleCI integration for this org is approved.  What else is needed?

[2021-09-09 20:46] decrispell commented on #855
Admin permissions are needed to set up CI on a repository, even if CircleCI integration for the organization is already approved.  From the CircleCI interface, I see this:
![image](https://user-images.githubusercontent.com/1390275/132759955-14830e6e-421f-4a6d-841d-c0d0eaaa5cb2.png)

where the "set up project" button should be.

[2021-09-10 14:52] bradking commented on #855
@decrispell I added you as an admin.

[2021-09-13 15:25] decrispell commented on #855
Thanks @bradking !  I turned on CircleCI builds for all commits on the master branch and all pull requests.
- The contrib libraries are being built, not just core.  If that becomes to onerous we can change to just core.
-  I didn't see any harm in leaving travis enabled, at least for now until we're happy with circleci.

[2021-09-13 15:26] #855 closed

[2021-09-16 20:34] seanm opened #858 "The `vpgl_algo_test_rational_adjust` test fails under Address Sanitizer (ASan)"
In current git master the `vpgl_algo_test_rational_adjust` test fails under Address Sanitizer (ASan).  The function `vnl_levenberg_marquardt::lmdif_lsqfun` is reading past of end of a buffer its given.

Here is a dump of my lldb session:

[code]

[2021-09-16 21:04] drewgilliam commented on #858
Traceback is quoting this
https://github.com/vxl/vxl/blob/master/core/vnl/algo/vnl_levenberg_marquardt.cxx#L83-L84
[code]

The input argument states `double * x,   // I   Solution vector, size n`, so x isn't necessarily of size 5.  That `std::cerr` might be printing garbage in this case if `self->trace` was active.

Not sure if you'd see the same issue here
https://github.com/vxl/vxl/blob/master/c

[2021-09-17 01:33] seanm commented on #858
Indeed, it's definitely smaller, which is what ASan is telling us. :) Note though in my lldb output I printed that `n` is 18. Looking closer, ASan also prints the backtrace of the allocation, and its an allocation of 3 doubles (vpgl_rational_adjust.cxx:154), so this code is seemingly wrong to assume there are at least 5. But again, `n` is 18, not 3, so that's odd... digging further, I found the 3!

[2021-09-17 01:45] seanm commented on #858
https://github.com/seanm/vxl/pull/new/issue858

[2021-09-17 11:37] seanm opened #860 "`vil_test_4_plane_tiff` test fails under ASan"
[code]

[2021-09-17 13:52] drewgilliam commented on #858
fixed by in @seanm in PR #859

[2021-09-17 19:56] seanm opened #861 "'vil_test_save_load_image' test fails under UBSan"
This code [here](https://github.com/vxl/vxl/blob/334e913af16bc9356135da32a45c9980f164cab1/core/vil/file_formats/vil_viff.cxx#L327):

[code]

Fails with UBSan running the `vil_test_save_load_image` test because it's *not* `vxl_byte` but `vxl_short`.  Output:

[code]

[2021-10-04 12:58] #858 closed

[2021-10-06 14:32] emmenlau opened #863 "Can not build with clang-cl due to /MP"
I'm trying to build ITK with clang-cl, the LLVM compiler frontend for the MSVC compiler. The build fails due to the use of `/MP` on the command line. I could trace this down to:
https://github.com/vxl/vxl/blob/c6c899aaf9cbf7ccabfca1ba35b2248fb611ffbc/config/cmake/config/vxl_utils.cmake#L89

Since this flag is not supported (at least not in its current form) by clang-cl, it should not be added on t

[2021-12-02 09:36] JackBoosY opened #868 "Build failure on x64-windows"
### Description

Hi, I'm vcpkg maintainer.
Recently we received an issue about buiding vxl using vcpkg (https://github.com/microsoft/vcpkg/issues/20701), and I can reproduce this:
[code]
After investigation, I think this is because std::size_t is not implicitly converted to 14 overloaded functions.
Can anyone confirm this?
Thanks.

### Steps to Reproduce

1. git clone `https://github.com/microsoft

[2021-12-03 17:27] drewgilliam commented on #868
Is this related to https://github.com/vxl/vxl/issues/638? The [final message](https://github.com/vxl/vxl/issues/638#issuecomment-496456192) in that issue says

[2021-12-06 08:01] JackBoosY commented on #868
Another issue:
[code]

[2021-12-06 16:35] drewgilliam commented on #868
Can you give a little more detail on the new errors - are they from c3fd279?

I'm not really familiar with VXL packaging (I'm a developer here, not an admin), so I'm honestly not sure how to help.  Are you looking for the oldest commit from the past 3 years that builds in your environment (c3fd279 is from 2018)?

[2021-12-07 02:49] JackBoosY commented on #868
@drewgilliam  See [install-x64-windows-dbg-out.log](https://github.com/vxl/vxl/files/7665112/install-x64-windows-dbg-out.log).
I will try the latest release later.

[2021-12-09 06:38] JackBoosY commented on #868
In the latest release:
[code]

[2021-12-12 01:47] jhlegarreta opened #875 "Memory leaks reported running `vnl_algo_test_levenberg_marquardt`"
### Description

The ITK dynamic analysis is reporting a memory leak in `vnl_algo_test_levenberg_marquardt`. The report can be found here:
https://open.cdash.org/viewDynamicAnalysisFile.php?id=8989092

The leak looks strictly inherent to `VXL`, and was introduced in ITK after the following PR to update `VXL` was merged into `master`:
https://github.com/InsightSoftwareConsortium/ITK/pull/2935

###

[2021-12-20 02:27] jhlegarreta opened #881 "`vnl_vector` unary minus operator type and result type mismatch warning"
### Description

The `vnl_vector` Python wrapping throws a warning about the unary minus operator type being applied to some unsigned type and having a result of unsigned type (it should be signed):

[code]

visible in:
https://dev.azure.com/itkrobotwindowpython/ITK.Windows.Python/_build/results?buildId=2721&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=77aad734-2057-5694-9ae2-ee1f5f26eae8&l=

[2021-12-23 20:53] seanm opened #884 "Compiler error on big endian PowerPC. `HOST_BIGENDIAN` definition does not match comments."
I've just tried to build on an old PowerPC Mac running OpenBSD 7.0 and hit:

[code]

This is because `HOST_BIGENDIAN` is defined, but defined to nothing.

The problem starts from this code [here](https://github.com/vxl/vxl/blob/b0fdb8201b341da1b61bd1ea1ce31623ba7892ce/v3p/tiff/tif_config.h.in#L185):

[code]

The comment is wrong. This does not result in definition to 0 or 1, it results in definiti

[2021-12-24 00:01] seanm commented on #884
Happily, this is the only compiler error on PowerPC OpenBSD 7.  Though there are some warnings...

[2021-12-25 15:52] #884 closed

[2022-01-01 20:14] emmenlau commented on #863
Anyone?

[2022-06-07 06:50] JackBoosY commented on #868
@hjmjohnson Any progress here?

[2022-07-28 19:45] emmenlau commented on #863
Is this fixed by https://github.com/vxl/vxl/commit/47490550d63a4ca570a20a9d70244e233f06c1bd?

[2022-07-31 07:13] emmenlau commented on #863
Closing as this is presumably fixed by 4749055

[2022-07-31 07:13] #863 closed